In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('fatec_pessoa_fisica.csv', usecols=['nulo', 'cpf'])
a = a.dropna(subset=['cpf'])
a

     nulo           cpf
2     NaN  3.731117e+10
3     NaN  3.411527e+10
4     NaN  3.562266e+10
5     NaN  3.322232e+10
6     NaN  1.505546e+09
...   ...           ...
3005  NaN  2.550511e+11
3006  NaN  2.238859e+11
3007  NaN  2.658650e+11
3008  NaN  2.622086e+11
3009  NaN  2.554871e+11

[3002 rows x 2 columns]

In [3]:
def converte(c):
    c = int(c)
    return c

In [4]:
a['cpf'] = a['cpf'].apply(converte)
a

     nulo           cpf
2     NaN   37311167211
3     NaN   34115266395
4     NaN   35622655491
5     NaN   33222324480
6     NaN    1505546115
...   ...           ...
3005  NaN  255051104931
3006  NaN  223885940544
3007  NaN  265864987976
3008  NaN  262208637843
3009  NaN  255487112307

[3002 rows x 2 columns]

In [5]:
def valido(g):
    b = str(g)
    a = 0
    d = 0
    if len(b) == 11:
        c = list(b)

        if b[0]:
            c[0] = str(int(b[0])*10)
        if b[1]:
            c[1] = str(int(b[1])*9)
        if b[2]:
            c[2] = str(int(b[2])*8)
        if b[3]:
            c[3] = str(int(b[3])*7)
        if b[4]:
            c[4] = str(int(b[4])*6)
        if b[5]:
            c[5] = str(int(b[5])*5)
        if b[6]:
            c[6] = str(int(b[6])*4)
        if b[7]:
            c[7] = str(int(b[7])*3)
        if b[8]:
            c[8] = str(int(b[8])*2)

        cont = 0
        for j in range(9):
            cont += int(c[j])
        
    
        if str((cont*10)%11) == b[-2]:
            d += 1
        
        if b[0]:
            c[0] = str(int(b[0])*11)
        if b[1]:
            c[1] = str(int(b[1])*10)
        if b[2]:
            c[2] = str(int(b[2])*9)
        if b[3]:
            c[3] = str(int(b[3])*8)
        if b[4]:
            c[4] = str(int(b[4])*7)
        if b[5]:
            c[5] = str(int(b[5])*6)
        if b[6]:
            c[6] = str(int(b[6])*5)
        if b[7]:
            c[7] = str(int(b[7])*4)
        if b[8]:
            c[8] = str(int(b[8])*3)
        if b[9]:
            c[9] = str(int(b[9])*2)

        cont = 0
        for j in range(10):
            cont += int(c[j])

        e = str((cont*10)%11)
        if e[-1] == b[-1]:
            d += 1

        for i in range(len(b)-1):
            if b[i] == b[i+1]:
                a += 1

        if d == 2 and a != 10:
            return g

In [6]:
def cpf(a):
    a = str(a)   
    a = list(a)

    if len(a) == 10:
        a.insert(0, '0')

    a = ''.join(a)
    return a

In [7]:
a['cpf'] = a['cpf'].apply(cpf)
a.loc[6]

nulo            NaN
cpf     01505546115
Name: 6, dtype: object

In [8]:
#cpf's válidos
a['cpf'] = a['cpf'].apply(valido)
a = a[a['cpf'].notnull()]
a

     nulo          cpf
66    NaN  64122018315
258   NaN  05227401381
260   NaN  06090237051
1252  NaN  05309680888
1515  NaN  53829829299
1805  NaN  11435403525
1811  NaN  09639103101
1888  NaN  24048813021
1893  NaN  28537130320
2044  NaN  38553034011
2316  NaN  12731112573
2854  NaN  18106900800
2925  NaN  01367130760

In [337]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 66 to 2925
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nulo    0 non-null      object
 1   cpf     13 non-null     object
dtypes: object(2)
memory usage: 312.0+ bytes

In [338]:
b = pd.read_csv('fatec_opr.csv')
b

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0f503289-dfb,87308050371,F,52,20112023,NULL,259741.1685,28511582.7,25e351cc-ec4e-4a47-861e-834f2aa1dc13,14,C01,99
3,NaN,683ea107-f2e,54355614187,F,36,6112022,140141.5236,NULL,NULL,a1f18524-8a4f-40a5-ba31-6fbff83bfd58,10,B05,99
4,NaN,d8e48899-58d,92265948819,F,NULL,NULL,NULL,0.0000,NULL,63149b03-b3bd-41e3-9b33-86661155bbaf,15,D01,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3006,NaN,38634b0a-897,252169585344,F,60,25112018,145296.1440,NULL,NULL,2274cb1f-602b-4761-bea5-2ef420154a90,10,B05,99
3007,NaN,cebe727e-8b5,247391528715,F,84,10092026,NULL,187834.5642,20333074.29,5da63c6a-28be-48e4-8a4a-f71bce8a4a53,14,C01,99
3008,NaN,e6965bba-e4a,249677066973,F,47,10122021,NULL,48979.6941,30874638.3,adbd7ce7-c890-4f12-a581-7c64db1af242,14,C01,99
3009,NaN,a5d43fa5-536,258481778859,F,36,30042021,74816.1801,NULL,NULL,8340c27b-499e-4147-9d29-7268db9bd3bc,10,B05,99
3010,marcador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [339]:
b = b.dropna(subset=['doc_cli'])
b

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
2,NaN,0f503289-dfb,87308050371,F,52,20112023,NULL,259741.1685,28511582.7,25e351cc-ec4e-4a47-861e-834f2aa1dc13,14,C01,99
3,NaN,683ea107-f2e,54355614187,F,36,6112022,140141.5236,NULL,NULL,a1f18524-8a4f-40a5-ba31-6fbff83bfd58,10,B05,99
4,NaN,d8e48899-58d,92265948819,F,NULL,NULL,NULL,0.0000,NULL,63149b03-b3bd-41e3-9b33-86661155bbaf,15,D01,179
5,NaN,5909262c-526,104455393515,F,82,20112019,NULL,1520.5905,27626512.71,40367466-b381-4452-add6-641eafb6b1be,14,C01,99
6,NaN,a2baadcc-95a,8642684152,F,65,15042020,NULL,8093.7615,26287450.65,3e99353c-df9a-4164-831d-84fff45cefdf,14,C01,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3005,NaN,11bd0eb8-546,213603194469,F,NULL,NULL,NULL,2115.0240,NULL,e6c5bd30-c23a-4134-b733-c3546e9981bb,15,D01,179
3006,NaN,38634b0a-897,252169585344,F,60,25112018,145296.1440,NULL,NULL,2274cb1f-602b-4761-bea5-2ef420154a90,10,B05,99
3007,NaN,cebe727e-8b5,247391528715,F,84,10092026,NULL,187834.5642,20333074.29,5da63c6a-28be-48e4-8a4a-f71bce8a4a53,14,C01,99
3008,NaN,e6965bba-e4a,249677066973,F,47,10122021,NULL,48979.6941,30874638.3,adbd7ce7-c890-4f12-a581-7c64db1af242,14,C01,99
3009,NaN,a5d43fa5-536,258481778859,F,36,30042021,74816.1801,NULL,NULL,8340c27b-499e-4147-9d29-7268db9bd3bc,10,B05,99

In [340]:
mask = b['doc_cli'] == '64122018315'
mask1 = b['doc_cli'] == '5227401381'
mask2 = b['doc_cli'] == '6090237051'
mask3 = b['doc_cli'] == '5309680888'
mask4 = b['doc_cli'] == '53829829299'
mask5 = b['doc_cli'] == '11435403525'
mask6 = b['doc_cli'] == '9639103101'
mask7 = b['doc_cli'] == '24048813021'
mask8 = b['doc_cli'] == '28537130320'
mask9 = b['doc_cli'] == '38553034011'
mask10 = b['doc_cli'] == '12731112573'
mask11 = b['doc_cli'] == '18106900800'
mask12 = b['doc_cli'] == '1367130760'

In [341]:
b[mask | mask1 | mask2 | mask3 | mask4 | mask5 | mask6 | mask7 | mask8 | mask9 | mask10 | mask11 | mask12]

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
178,NaN,001a45eb-7df,12731112573,F,30,21062021,106397.5500,NULL,NULL,91fcc7d3-b1c1-4761-8095-40614efe2c86,10,B05,99
223,NaN,17317f69-f32,5227401381,F,66,12022025,NULL,186048.8451,19491034.53,3392d50f-0d30-48ce-9603-49f74f54a1f8,14,C01,99
289,NaN,1d607e66-05b,24048813021,F,36,28062020,173300.0292,NULL,NULL,ad2b6374-fa5f-47e5-9fe8-07c3cbc71717,10,B05,99
620,NaN,2dd72848-0cc,9639103101,F,84,10072020,NULL,20852.5437,19453083.36,b7d0485e-2c7b-4785-a28e-52fd8d48ee26,14,C01,99
651,NaN,806c821d-1c5,11435403525,F,NULL,NULL,NULL,2404.1718,NULL,f435d6b3-3b01-4806-96b2-b685e95f0ff5,15,D01,179
1016,NaN,c1587b5d-1c5,64122018315,F,24,25092019,65483.0529,NULL,NULL,0969a2a5-01f3-465d-98ce-6afc68beaf1a,10,B05,99
1164,NaN,c1134cdb-06f,38553034011,F,84,22092026,NULL,187780.1457,20333074.29,c6ec3ffb-50f2-4855-9c31-8ec92eeb2452,14,C01,99
1571,NaN,85f4288d-a56,1367130760,F,60,24092023,316983.3840,NULL,NULL,97489fdc-2642-48d4-a531-1929e9a39a5d,10,B05,99
1619,NaN,7b261012-dd0,6090237051,F,NULL,NULL,NULL,5621.2851,NULL,da19a773-62f6-4966-89b7-b5c4326abc25,15,D01,179
1710,NaN,8a2c7f71-457,18106900800,F,60,11062019,89819.2980,NULL,NULL,bfe781bb-b024-45f2-b1be-1d9b821f035d,10,B05,99
2154,NaN,849222ff-544,28537130320,F,NULL,NULL,NULL,0.0000,NULL,ebf06456-662b-4397-ad26-54fa3bc85b1c,15,D01,179
2170,NaN,b2b50bfe-afd,5309680888,F,84,10052023,NULL,78220.3179,16136307.06,af2d2b71-fd36-4dc3-87d2-db8183998b38,14,C01,99
2482,NaN,91c7a92f-125,53829829299,F,NULL,NULL,NULL,3218.9481,NULL,b5c5408d-7dc6-43cf-b260-6fb5234a91c9,15,D01,179

In [7]:
c = pd.read_csv('fatec_mvt.csv')
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ed78c2f2-fd2,64d85edf-8b3,15062019,NaN,NaN,NaN,NaN,2728.3476,ANT,M
3,NaN,84706050-586,3e537b64-340,10042019,NaN,NaN,2195.7135,329.3049,NaN,ANT,NaN
4,NaN,7b3bc686-d7f,930e64c5-777,17022019,NaN,NaN,3791.8644,56870.4600,NaN,ANT,NaN
...,...,...,...,...,...,...,...,...,...,...,...
54212,NaN,2487a7a8-367,d97c15c9-6ca,8072019,NaN,NaN,1093.6242,237.6900,NaN,ANT,NaN
54213,NaN,97257a00-2e6,9b81674c-445,9052019,NaN,NaN,1258.0890,42117.0000,NaN,ANT,NaN
54214,NaN,a8509734-039,9d4a7f3a-f2f,8052019,NaN,NaN,1395.4488,131630.2200,NaN,ANT,NaN
54215,NaN,99d52a6a-1a6,70078d20-73b,25062019,NaN,NaN,48235.1406,7235.0751,NaN,ANT,NaN
54216,marcador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [343]:
mask = c['id_opr_cad_pos'] == '001a45eb-7df'
mask1 = c['id_opr_cad_pos'] == '17317f69-f32'
mask2 = c['id_opr_cad_pos'] == '1d607e66-05b'
mask3 = c['id_opr_cad_pos'] == '2dd72848-0cc'
mask4 = c['id_opr_cad_pos'] == '806c821d-1c5'
mask5 = c['id_opr_cad_pos'] == 'c1587b5d-1c5'
mask6 = c['id_opr_cad_pos'] == 'c1134cdb-06f'
mask7 = c['id_opr_cad_pos'] == '85f4288d-a56'
mask8 = c['id_opr_cad_pos'] == '7b261012-dd0'
mask9 = c['id_opr_cad_pos'] == '8a2c7f71-457'
mask10 = c['id_opr_cad_pos'] == '849222ff-544'
mask11 = c['id_opr_cad_pos'] == 'b2b50bfe-afd'
mask12 = c['id_opr_cad_pos'] == '91c7a92f-125'

In [344]:
c = c[mask | mask1 | mask2 | mask3 | mask4 | mask5 | mask6 | mask7 | mask8 | mask9 | mask10 | mask11 | mask12]
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
69,NaN,91c7a92f-125,793345da-276,21112019,NaN,NaN,2387.4918,35862.0000,NaN,ANT,NaN
439,NaN,91c7a92f-125,d9a40ac9-079,21012020,NaN,NaN,4065.4581,61299.0000,NaN,ANT,NaN
451,NaN,2dd72848-0cc,116c9441-70b,10042019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
935,NaN,91c7a92f-125,8ed5b6eb-f13,21082019,NaN,NaN,3211.9425,48372.0000,NaN,ANT,NaN
949,NaN,001a45eb-7df,8f2595f4-f4d,21042019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
...,...,...,...,...,...,...,...,...,...,...,...
52039,NaN,7b261012-dd0,40950ae8-8b7,13102019,NaN,NaN,1050.2145,18569.0100,NaN,ANT,NaN
52290,NaN,91c7a92f-125,f18af84a-ca4,21032019,NaN,NaN,2688.7326,40449.0000,NaN,ANT,NaN
52319,NaN,1d607e66-05b,c22258f0-5f3,28112018,NaN,NaN,NaN,NaN,4813.8897,ANT,M
53246,NaN,85f4288d-a56,af8baea5-d85,24092019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
53791,NaN,1d607e66-05b,4a1a9d16-82a,28082019,NaN,NaN,NaN,NaN,4813.8897,ANT,M

In [16]:
d = pd.read_csv('fatec_pgt.csv')
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,c8176e21-845,cd596c84-3fe,f4ef9e73-e02,13/10/19,2019-10-13,591.3060,D01,E
3,NaN,a3fad4d7-ad7,3736da82-cd3,cffcab96-2b4,01/03/20,2020-03-01,6880.2081,D01,E
4,NaN,7fd6249b-4cf,f66a2496-e0a,b021cf9e-409,07/12/18,2019-12-12,6553.5303,B05,I
...,...,...,...,...,...,...,...,...,...
40227,NaN,85358af2-ed5,c626dc8b-97e,36f315e7-e0d,03/10/19,2019-10-12,2155.9734,C01,I
40228,NaN,9bcffcf1-cc9,70d620ea-8ab,4a0a4f3a-211,10/12/18,2018-12-10,3343.1307,C01,I
40229,NaN,e005d7d2-30a,30b4dc7d-ab1,5f353f39-89c,03/06/19,2019-06-03,6117.9738,B05,I
40230,NaN,7a7beaae-fdc,7050f372-c97,53d35450-a14,22/03/19,2019-03-18,49.9983,D01,I
40231,marcador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
d = d.dropna(subset=['id_opr_cad_pos'])
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
2,NaN,c8176e21-845,cd596c84-3fe,f4ef9e73-e02,13/10/19,2019-10-13,591.3060,D01,E
3,NaN,a3fad4d7-ad7,3736da82-cd3,cffcab96-2b4,01/03/20,2020-03-01,6880.2081,D01,E
4,NaN,7fd6249b-4cf,f66a2496-e0a,b021cf9e-409,07/12/18,2019-12-12,6553.5303,B05,I
5,NaN,90fb53f6-225,0e3217ed-88e,72854add-8b9,07/08/19,2019-08-05,5980.6140,C01,I
6,NaN,e4d0eaed-0c6,48a5b038-4ed,453f0f88-7e9,11/02/19,2019-02-28,2301.7983,B05,I
...,...,...,...,...,...,...,...,...,...
40226,NaN,e14a9706-52d,43b3441c-754,35e935bc-d21,30/05/19,2019-06-01,1418.8425,D01,I
40227,NaN,85358af2-ed5,c626dc8b-97e,36f315e7-e0d,03/10/19,2019-10-12,2155.9734,C01,I
40228,NaN,9bcffcf1-cc9,70d620ea-8ab,4a0a4f3a-211,10/12/18,2018-12-10,3343.1307,C01,I
40229,NaN,e005d7d2-30a,30b4dc7d-ab1,5f353f39-89c,03/06/19,2019-06-03,6117.9738,B05,I
40230,NaN,7a7beaae-fdc,7050f372-c97,53d35450-a14,22/03/19,2019-03-18,49.9983,D01,I

In [347]:
d['id_mvt_cad_pos'].is_unique

False

In [348]:
c['id_mvt_cad_pos'].is_unique

True

In [349]:
d = d[mask | mask1 | mask2 | mask3 | mask4 | mask5 | mask6 | mask7 | mask8 | mask9 | mask10 | mask11 | mask12]
d

<ipython-input-349-46fe3a2cd236>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = d[mask | mask1 | mask2 | mask3 | mask4 | mask5 | mask6 | mask7 | mask8 | mask9 | mask10 | mask11 | mask12]

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
69,NaN,8d15703b-eb8,a714d0a4-977,c2b8afb8-5d1,25/03/19,2019-03-25,52.4586,D01,E
439,NaN,ab90820e-b9c,b1f1feef-583,f0e47820-3da,08/09/19,2019-09-08,195.5730,D01,E
451,NaN,7fd6249b-4cf,6fbeb517-933,a1f49d4a-2b7,07/12/18,2020-05-12,6553.5303,B05,I
935,NaN,bb249927-6eb,cfa1c385-ea7,b6145ff9-f89,16/03/17,2020-06-02,2790.1470,B05,I
949,NaN,84e0bc86-766,d7a09943-e74,d8f1717c-8c0,03/04/19,2019-04-04,11644.0578,B05,I
...,...,...,...,...,...,...,...,...,...
38901,NaN,ebb3b76d-db4,07213a64-b86,3385f252-4fb,05/09/19,2019-09-05,62.5500,D01,E
38930,NaN,d10a7338-aee,9e49815b-578,97f9e4de-40a,07/12/18,2018-12-05,1073.4831,C01,I
39328,NaN,2faa5223-1e8,1d054829-eb6,503c0bed-7cc,07/10/19,2019-10-11,52.5420,D01,E
39398,NaN,716f6214-932,8299642a-f91,88b5be34-f34,19/09/19,2019-09-15,2208.3903,C01,I
39888,NaN,c9c28854-4ab,84dc7b21-423,f09ba264-dac,27/05/19,2019-05-27,5279.0949,B05,I

In [142]:
e = pd.read_csv('fatec_endereco_pessoa_fisica.csv')
e = e.dropna(subset=['cpf'])
e

     nulo id_pessoa_fisica    nom_cidade    des_estado           cpf
164   NaN        687332675       AQUIRAZ         CEARA  1.143540e+10
526   NaN        123419344     GUARULHOS      SAOPAULO  6.090237e+09
915   NaN         73248792      CURITIBA        PARANA  5.382983e+10
964   NaN         78942456   ELIASFAUSTO      SAOPAULO  6.412202e+10
1013  NaN        339197808     FORTALEZA         CEARA  5.309681e+09
1502  NaN         54871997      SAOPAULO      SAOPAULO  2.404881e+10
1781  NaN        662924296  ANGRADOSREIS  RIODEJANEIRO  3.855303e+10
1958  NaN         38399368    ANANINDEUA          PARA  1.273111e+10
1977  NaN        378644008         ASSIS      SAOPAULO  1.810690e+10
2066  NaN        283458923     ARACATUBA      SAOPAULO  2.853713e+10
2186  NaN        334268000   SIMOESFILHO         BAHIA  5.227401e+09
2310  NaN         25177053         IJACI   MINASGERAIS  9.639103e+09

In [143]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 66 to 2925
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nulo    0 non-null      object
 1   cpf     13 non-null     object
dtypes: object(2)
memory usage: 312.0+ bytes

In [144]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3002 entries, 2 to 3009
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nulo              0 non-null      object
 1   id_opr_cad_pos    3002 non-null   object
 2   doc_cli           3002 non-null   object
 3   tip_cli           3002 non-null   object
 4   qtd_pcl           3002 non-null   object
 5   dat_vct_ult_pcl   3002 non-null   object
 6   vlr_ctrd_fta_tfm  3002 non-null   object
 7   sdo_ddr_tfm       3002 non-null   object
 8   vlr_ctrd          3002 non-null   object
 9   id_ult_rss_opr    3002 non-null   object
 10  id_mdl            3002 non-null   object
 11  cod_mdl           3002 non-null   object
 12  id_fnt            3002 non-null   object
dtypes: object(13)
memory usage: 328.3+ KB

In [145]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 69 to 53791
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nulo             0 non-null      object
 1   id_opr_cad_pos   188 non-null    object
 2   id_mvt_cad_pos   188 non-null    object
 3   dat_vct          186 non-null    object
 4   qtd_pcl_vnc      9 non-null      object
 5   qtd_pcl_pgr      9 non-null      object
 6   vlr_tot_fat_tfm  86 non-null     object
 7   vlr_min_fat_tfm  86 non-null     object
 8   vlr_pcl_tfm      100 non-null    object
 9   tip_mvt          188 non-null    object
 10  prd              102 non-null    object
dtypes: object(11)
memory usage: 17.6+ KB

In [146]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 69 to 39888
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nulo            0 non-null      object
 1   id_opr_cad_pos  141 non-null    object
 2   id_mvt_cad_pos  141 non-null    object
 3   id_pgt_cad_pos  141 non-null    object
 4   dat_pgt         141 non-null    object
 5   dat_vct_tfm     141 non-null    object
 6   vlr_pgt_tfm     141 non-null    object
 7   cod_mdl         141 non-null    object
 8   cmd             141 non-null    object
dtypes: object(9)
memory usage: 11.0+ KB

In [147]:
e.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 164 to 2310
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nulo              0 non-null      object
 1   id_pessoa_fisica  12 non-null     object
 2   nom_cidade        12 non-null     object
 3   des_estado        12 non-null     object
 4   cpf               12 non-null     float64
dtypes: float64(1), object(4)
memory usage: 576.0+ bytes

In [148]:
b

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
2,NaN,0f503289-dfb,87308050371,F,52,20112023,NULL,259741.1685,28511582.7,25e351cc-ec4e-4a47-861e-834f2aa1dc13,14,C01,99
3,NaN,683ea107-f2e,54355614187,F,36,6112022,140141.5236,NULL,NULL,a1f18524-8a4f-40a5-ba31-6fbff83bfd58,10,B05,99
4,NaN,d8e48899-58d,92265948819,F,NULL,NULL,NULL,0.0000,NULL,63149b03-b3bd-41e3-9b33-86661155bbaf,15,D01,179
5,NaN,5909262c-526,104455393515,F,82,20112019,NULL,1520.5905,27626512.71,40367466-b381-4452-add6-641eafb6b1be,14,C01,99
6,NaN,a2baadcc-95a,8642684152,F,65,15042020,NULL,8093.7615,26287450.65,3e99353c-df9a-4164-831d-84fff45cefdf,14,C01,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3005,NaN,11bd0eb8-546,213603194469,F,NULL,NULL,NULL,2115.0240,NULL,e6c5bd30-c23a-4134-b733-c3546e9981bb,15,D01,179
3006,NaN,38634b0a-897,252169585344,F,60,25112018,145296.1440,NULL,NULL,2274cb1f-602b-4761-bea5-2ef420154a90,10,B05,99
3007,NaN,cebe727e-8b5,247391528715,F,84,10092026,NULL,187834.5642,20333074.29,5da63c6a-28be-48e4-8a4a-f71bce8a4a53,14,C01,99
3008,NaN,e6965bba-e4a,249677066973,F,47,10122021,NULL,48979.6941,30874638.3,adbd7ce7-c890-4f12-a581-7c64db1af242,14,C01,99
3009,NaN,a5d43fa5-536,258481778859,F,36,30042021,74816.1801,NULL,NULL,8340c27b-499e-4147-9d29-7268db9bd3bc,10,B05,99

In [149]:
f = pd.read_csv('fatec_mvt.csv')
f = f.dropna(subset=['id_opr_cad_pos'])
f

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
2,NaN,ed78c2f2-fd2,64d85edf-8b3,15062019,NaN,NaN,NaN,NaN,2728.3476,ANT,M
3,NaN,84706050-586,3e537b64-340,10042019,NaN,NaN,2195.7135,329.3049,NaN,ANT,NaN
4,NaN,7b3bc686-d7f,930e64c5-777,17022019,NaN,NaN,3791.8644,56870.4600,NaN,ANT,NaN
5,NaN,57a7735b-83e,79bac911-7a0,10022019,NaN,NaN,NaN,NaN,1284.6519,ANT,M
6,NaN,c527b570-ce7,81c011a3-349,10102019,NaN,NaN,647.3508,540.4320,NaN,ANT,NaN
...,...,...,...,...,...,...,...,...,...,...,...
54211,NaN,a0f565a4-5f7,926699e6-c33,5022020,NaN,NaN,202.0365,83.4000,NaN,ANT,NaN
54212,NaN,2487a7a8-367,d97c15c9-6ca,8072019,NaN,NaN,1093.6242,237.6900,NaN,ANT,NaN
54213,NaN,97257a00-2e6,9b81674c-445,9052019,NaN,NaN,1258.0890,42117.0000,NaN,ANT,NaN
54214,NaN,a8509734-039,9d4a7f3a-f2f,8052019,NaN,NaN,1395.4488,131630.2200,NaN,ANT,NaN
54215,NaN,99d52a6a-1a6,70078d20-73b,25062019,NaN,NaN,48235.1406,7235.0751,NaN,ANT,NaN

In [150]:
#cpf's válidos
a

     nulo          cpf
66    NaN  64122018315
258   NaN  05227401381
260   NaN  06090237051
1252  NaN  05309680888
1515  NaN  53829829299
1805  NaN  11435403525
1811  NaN  09639103101
1888  NaN  24048813021
1893  NaN  28537130320
2044  NaN  38553034011
2316  NaN  12731112573
2854  NaN  18106900800
2925  NaN  01367130760

In [172]:
b[b['doc_cli'] == '64122018315']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
1016,NaN,c1587b5d-1c5,64122018315,F,24,25092019,65483.0529,NULL,NULL,0969a2a5-01f3-465d-98ce-6afc68beaf1a,10,B05,99

In [152]:
#cpf: 64122018315
f[f['id_opr_cad_pos'] == 'c1587b5d-1c5']

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
1468,NaN,c1587b5d-1c5,b4181945-e32,25062019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
4620,NaN,c1587b5d-1c5,43f3b7b1-9b5,25012019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
17044,NaN,c1587b5d-1c5,f1d572ed-488,25122018,NaN,NaN,NaN,NaN,2728.3893,ANT,M
17690,NaN,c1587b5d-1c5,70932be2-dcf,25112018,NaN,NaN,NaN,NaN,2728.3893,ANT,M
23837,NaN,c1587b5d-1c5,4d6c9e57-1ba,25082019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
30032,NaN,c1587b5d-1c5,f17617dd-0ed,25072019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
30463,NaN,c1587b5d-1c5,80f35030-576,25022019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
31754,NaN,c1587b5d-1c5,681e4abd-f5d,NaN,0,0,NaN,NaN,NaN,FUT,M
32066,NaN,c1587b5d-1c5,15569ed2-991,25052019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
45540,NaN,c1587b5d-1c5,432dc32a-9c2,25032019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
45855,NaN,c1587b5d-1c5,7cd7aef6-cc1,25092019,NaN,NaN,NaN,NaN,2730.0990,ANT,M
48790,NaN,c1587b5d-1c5,dbc71474-8a1,25042019,NaN,NaN,NaN,NaN,2728.3893,ANT,M

In [158]:
#cpf: 64122018315
d = d[d['id_opr_cad_pos'] == 'c1587b5d-1c5']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
788,NaN,c1587b5d-1c5,dbc71474-8a1,cf3da0c7-a8f,24/04/19,2019-04-25,2728.3893,B05,I
4146,NaN,c1587b5d-1c5,432dc32a-9c2,6acb3a39-2f0,19/03/19,2019-03-25,2728.3893,B05,I
4244,NaN,c1587b5d-1c5,43f3b7b1-9b5,29aba97f-298,21/01/19,2019-01-25,2728.3893,B05,I
7447,NaN,c1587b5d-1c5,80f35030-576,3ee2391a-6e8,20/02/19,2019-02-25,2728.3893,B05,I
10740,NaN,c1587b5d-1c5,f1d572ed-488,8bbae193-3ee,21/12/18,2018-12-25,2728.3893,B05,I
14655,NaN,c1587b5d-1c5,15569ed2-991,1697b435-edb,23/05/19,2019-05-25,2728.3893,B05,I
17347,NaN,c1587b5d-1c5,70932be2-dcf,b61435f8-53c,21/11/18,2018-11-25,2728.3893,B05,I
25172,NaN,c1587b5d-1c5,7cd7aef6-cc1,3c4268d0-d62,23/09/19,2019-09-25,2730.0990,B05,I
27860,NaN,c1587b5d-1c5,4d6c9e57-1ba,4d00c395-ea4,21/08/19,2019-08-25,2728.3893,B05,I
28881,NaN,c1587b5d-1c5,b4181945-e32,3238eeac-34f,25/06/19,2019-06-25,2728.3893,B05,I
34891,NaN,c1587b5d-1c5,f17617dd-0ed,2dc16fa4-c7d,22/07/19,2019-07-25,2728.3893,B05,I

In [159]:
#cpf: 64122018315
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-159-c126396989fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-159-c126396989fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
788,NaN,c1587b5d-1c5,dbc71474-8a1,cf3da0c7-a8f,2019-04-24,2019-04-25,2728.3893,B05,I
4146,NaN,c1587b5d-1c5,432dc32a-9c2,6acb3a39-2f0,2019-03-19,2019-03-25,2728.3893,B05,I
4244,NaN,c1587b5d-1c5,43f3b7b1-9b5,29aba97f-298,2019-01-21,2019-01-25,2728.3893,B05,I
7447,NaN,c1587b5d-1c5,80f35030-576,3ee2391a-6e8,2019-02-20,2019-02-25,2728.3893,B05,I
10740,NaN,c1587b5d-1c5,f1d572ed-488,8bbae193-3ee,2018-12-21,2018-12-25,2728.3893,B05,I
14655,NaN,c1587b5d-1c5,15569ed2-991,1697b435-edb,2019-05-23,2019-05-25,2728.3893,B05,I
17347,NaN,c1587b5d-1c5,70932be2-dcf,b61435f8-53c,2018-11-21,2018-11-25,2728.3893,B05,I
25172,NaN,c1587b5d-1c5,7cd7aef6-cc1,3c4268d0-d62,2019-09-23,2019-09-25,2730.0990,B05,I
27860,NaN,c1587b5d-1c5,4d6c9e57-1ba,4d00c395-ea4,2019-08-21,2019-08-25,2728.3893,B05,I
28881,NaN,c1587b5d-1c5,b4181945-e32,3238eeac-34f,2019-06-25,2019-06-25,2728.3893,B05,I
34891,NaN,c1587b5d-1c5,f17617dd-0ed,2dc16fa4-c7d,2019-07-22,2019-07-25,2728.3893,B05,I

In [14]:
#cpf: 64122018315
def atraso(g):
    g = d['dat_pgt'] - d['dat_vct_tfm']
    return g

In [161]:
#cpf: 64122018315
d['nulo'] = d.apply(atraso)

<ipython-input-161-d21cc85a3543>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

In [168]:
#cpf: 64122018315
d.sort_values('dat_pgt')

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
17347,-4 days,c1587b5d-1c5,70932be2-dcf,b61435f8-53c,2018-11-21,2018-11-25,2728.3893,B05,I
10740,-4 days,c1587b5d-1c5,f1d572ed-488,8bbae193-3ee,2018-12-21,2018-12-25,2728.3893,B05,I
4244,-4 days,c1587b5d-1c5,43f3b7b1-9b5,29aba97f-298,2019-01-21,2019-01-25,2728.3893,B05,I
7447,-5 days,c1587b5d-1c5,80f35030-576,3ee2391a-6e8,2019-02-20,2019-02-25,2728.3893,B05,I
4146,-6 days,c1587b5d-1c5,432dc32a-9c2,6acb3a39-2f0,2019-03-19,2019-03-25,2728.3893,B05,I
788,-1 days,c1587b5d-1c5,dbc71474-8a1,cf3da0c7-a8f,2019-04-24,2019-04-25,2728.3893,B05,I
14655,-2 days,c1587b5d-1c5,15569ed2-991,1697b435-edb,2019-05-23,2019-05-25,2728.3893,B05,I
28881,0 days,c1587b5d-1c5,b4181945-e32,3238eeac-34f,2019-06-25,2019-06-25,2728.3893,B05,I
34891,-3 days,c1587b5d-1c5,f17617dd-0ed,2dc16fa4-c7d,2019-07-22,2019-07-25,2728.3893,B05,I
27860,-4 days,c1587b5d-1c5,4d6c9e57-1ba,4d00c395-ea4,2019-08-21,2019-08-25,2728.3893,B05,I
25172,-2 days,c1587b5d-1c5,7cd7aef6-cc1,3c4268d0-d62,2019-09-23,2019-09-25,2730.0990,B05,I

In [170]:
#cpf: 64122018315
c = c[c['id_opr_cad_pos'] == 'c1587b5d-1c5']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
1468,NaN,c1587b5d-1c5,b4181945-e32,25062019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
4620,NaN,c1587b5d-1c5,43f3b7b1-9b5,25012019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
17044,NaN,c1587b5d-1c5,f1d572ed-488,25122018,NaN,NaN,NaN,NaN,2728.3893,ANT,M
17690,NaN,c1587b5d-1c5,70932be2-dcf,25112018,NaN,NaN,NaN,NaN,2728.3893,ANT,M
23837,NaN,c1587b5d-1c5,4d6c9e57-1ba,25082019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
30032,NaN,c1587b5d-1c5,f17617dd-0ed,25072019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
30463,NaN,c1587b5d-1c5,80f35030-576,25022019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
31754,NaN,c1587b5d-1c5,681e4abd-f5d,NaN,0,0,NaN,NaN,NaN,FUT,M
32066,NaN,c1587b5d-1c5,15569ed2-991,25052019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
45540,NaN,c1587b5d-1c5,432dc32a-9c2,25032019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
45855,NaN,c1587b5d-1c5,7cd7aef6-cc1,25092019,NaN,NaN,NaN,NaN,2730.0990,ANT,M
48790,NaN,c1587b5d-1c5,dbc71474-8a1,25042019,NaN,NaN,NaN,NaN,2728.3893,ANT,M

In [173]:
#cpf: 05227401381
b[b['doc_cli'] == '5227401381']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
223,NaN,17317f69-f32,5227401381,F,66,12022025,NULL,186048.8451,19491034.53,3392d50f-0d30-48ce-9603-49f74f54a1f8,14,C01,99

In [174]:
#cpf: 05227401381
f[f['id_opr_cad_pos'] == '17317f69-f32']

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
15786,NaN,17317f69-f32,5f33df5d-010,12122019,63,63,NaN,NaN,2952.9855,FUT,M
18032,NaN,17317f69-f32,fbdbb90b-3b7,9092019,NaN,NaN,NaN,NaN,2185.1217,ANT,M
21047,NaN,17317f69-f32,638c671d-8e3,12112019,NaN,NaN,NaN,NaN,2185.1217,ANT,M
41483,NaN,17317f69-f32,db9358de-89f,12102019,NaN,NaN,NaN,NaN,2185.1217,ANT,M

In [181]:
#cpf: 05227401381
d = d[d['id_opr_cad_pos'] == '17317f69-f32']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
8360,NaN,17317f69-f32,db9358de-89f,2bff3301-c2b,09/10/19,2019-10-12,3093.3060,C01,I
18588,NaN,17317f69-f32,638c671d-8e3,73cdcf28-8fa,12/11/19,2019-11-12,2812.2897,C01,I
18646,NaN,17317f69-f32,fbdbb90b-3b7,dcd9cf62-b76,05/09/19,2019-09-09,3095.5995,C01,I

In [182]:
#cpf: 05227401381
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
8360,NaN,17317f69-f32,db9358de-89f,2bff3301-c2b,2019-09-10,2019-10-12,3093.3060,C01,I
18588,NaN,17317f69-f32,638c671d-8e3,73cdcf28-8fa,2019-12-11,2019-11-12,2812.2897,C01,I
18646,NaN,17317f69-f32,fbdbb90b-3b7,dcd9cf62-b76,2019-05-09,2019-09-09,3095.5995,C01,I

In [185]:
#cpf: 05227401381 (cpf4)
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
18646,-123 days,17317f69-f32,fbdbb90b-3b7,dcd9cf62-b76,2019-05-09,2019-09-09,3095.5995,C01,I
8360,-32 days,17317f69-f32,db9358de-89f,2bff3301-c2b,2019-09-10,2019-10-12,3093.3060,C01,I
18588,29 days,17317f69-f32,638c671d-8e3,73cdcf28-8fa,2019-12-11,2019-11-12,2812.2897,C01,I

In [187]:
#cpf: 05227401381
c = c[c['id_opr_cad_pos'] == '17317f69-f32']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
15786,NaN,17317f69-f32,5f33df5d-010,12122019,63,63,NaN,NaN,2952.9855,FUT,M
18032,NaN,17317f69-f32,fbdbb90b-3b7,9092019,NaN,NaN,NaN,NaN,2185.1217,ANT,M
21047,NaN,17317f69-f32,638c671d-8e3,12112019,NaN,NaN,NaN,NaN,2185.1217,ANT,M
41483,NaN,17317f69-f32,db9358de-89f,12102019,NaN,NaN,NaN,NaN,2185.1217,ANT,M

In [194]:
#cpf: 06090237051
b[b['doc_cli'] == '6090237051']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
1619,NaN,7b261012-dd0,6090237051,F,NULL,NULL,NULL,5621.2851,NULL,da19a773-62f6-4966-89b7-b5c4326abc25,15,D01,179

In [196]:
#cpf: 06090237051
d = d[d['id_opr_cad_pos'] == '7b261012-dd0']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
441,NaN,7b261012-dd0,40950ae8-8b7,ab5d6d0f-ee3,16/10/19,2019-10-13,1050.2145,D01,E
744,NaN,7b261012-dd0,4d4a46d9-81d,38bc8aa9-d2a,25/11/19,2019-11-13,2162.4786,D01,E
3423,NaN,7b261012-dd0,9c64619e-68b,0f8a6be0-689,20/09/19,2019-09-13,1695.8556,D01,I
3424,NaN,7b261012-dd0,a07e5722-dab,e4774102-3f1,22/01/20,2020-01-13,674.1222,D01,I
9322,NaN,7b261012-dd0,af3e819e-d6d,2f1dea10-77e,01/04/19,2019-03-13,2132.2878,D01,E
9554,NaN,7b261012-dd0,77959cab-543,63db5fc7-274,17/06/19,2019-06-13,1103.5488,D01,I
9555,NaN,7b261012-dd0,35a2f9c1-c0c,8f428ca8-00c,20/03/20,2020-03-13,958.2243,D01,I
9673,NaN,7b261012-dd0,54010cdb-8af,85e4b27d-eec,19/07/19,2019-07-13,1260.7161,D01,E
9918,NaN,7b261012-dd0,217f2b60-045,a2e9dc3b-53f,25/11/19,2019-11-13,2162.4786,D01,I
9961,NaN,7b261012-dd0,944f8360-f6b,cd3de7f8-b07,14/01/19,2019-01-13,2018.3217,D01,I
11863,NaN,7b261012-dd0,a0e1721b-a89,4d981ee6-092,19/07/19,2019-07-13,1260.7161,D01,I
11931,NaN,7b261012-dd0,35499441-656,398e0069-8a3,20/08/19,2019-08-13,1638.9768,D01,E
11987,NaN,7b261012-dd0,c9202c49-c98,44ff9f2c-105,26/04/19,2019-04-13,1266.5541,D01,I
20602,NaN,7b261012-dd0,8f120f48-eb2,d70e4b2f-062,22/01/20,2020-01-13,674.1222,D01,E
20693,NaN,7b261012-dd0,04f32485-435,e42d95a3-dde,27/12/19,2019-12-13,2043.3000,D01,E
20823,NaN,7b261012-dd0,71ff7757-525,a17887bc-b42,27/02/19,2019-02-13,1668.0000,D01,I
20942,NaN,7b261012-dd0,1cccf18b-807,a5957baa-661,27/12/19,2019-12-13,2043.3000,D01,I
22237,NaN,7b261012-dd0,bdad3fcd-229,7950c32d-c18,27/05/19,2019-05-13,400.9872,D01,I
32421,NaN,7b261012-dd0,310db50d-f71,2f0bba43-ec4,17/06/19,2019-06-13,1103.5488,D01,E
32550,NaN,7b261012-dd0,2f171922-d46,457ac043-3e3,26/04/19,2019-04-13,1266.5541,D01,E
32579,NaN,7b261012-dd0,ac243018-b60,2b975857-423,16/10/19,2019-10-13,1050.2145,D01,I
32797,NaN,7b261012-dd0,cebf45f1-daf,fd57365b-e49,20/08/19,2019-08-13,1638.9768,D01,I
32881,NaN,7b261012-dd0,4c868b50-4d4,0679b7cb-dd9,27/05/19,2019-05-13,400.9872,D01,E
38766,NaN,7b261012-dd0,ed330749-d1b,c6f87a6b-bcc,20/09/19,2019-09-13,1695.8556,D01,E

In [197]:
#cpf: 06090237051
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
441,NaN,7b261012-dd0,40950ae8-8b7,ab5d6d0f-ee3,2019-10-16,2019-10-13,1050.2145,D01,E
744,NaN,7b261012-dd0,4d4a46d9-81d,38bc8aa9-d2a,2019-11-25,2019-11-13,2162.4786,D01,E
3423,NaN,7b261012-dd0,9c64619e-68b,0f8a6be0-689,2019-09-20,2019-09-13,1695.8556,D01,I
3424,NaN,7b261012-dd0,a07e5722-dab,e4774102-3f1,2020-01-22,2020-01-13,674.1222,D01,I
9322,NaN,7b261012-dd0,af3e819e-d6d,2f1dea10-77e,2019-01-04,2019-03-13,2132.2878,D01,E
9554,NaN,7b261012-dd0,77959cab-543,63db5fc7-274,2019-06-17,2019-06-13,1103.5488,D01,I
9555,NaN,7b261012-dd0,35a2f9c1-c0c,8f428ca8-00c,2020-03-20,2020-03-13,958.2243,D01,I
9673,NaN,7b261012-dd0,54010cdb-8af,85e4b27d-eec,2019-07-19,2019-07-13,1260.7161,D01,E
9918,NaN,7b261012-dd0,217f2b60-045,a2e9dc3b-53f,2019-11-25,2019-11-13,2162.4786,D01,I
9961,NaN,7b261012-dd0,944f8360-f6b,cd3de7f8-b07,2019-01-14,2019-01-13,2018.3217,D01,I
11863,NaN,7b261012-dd0,a0e1721b-a89,4d981ee6-092,2019-07-19,2019-07-13,1260.7161,D01,I
11931,NaN,7b261012-dd0,35499441-656,398e0069-8a3,2019-08-20,2019-08-13,1638.9768,D01,E
11987,NaN,7b261012-dd0,c9202c49-c98,44ff9f2c-105,2019-04-26,2019-04-13,1266.5541,D01,I
20602,NaN,7b261012-dd0,8f120f48-eb2,d70e4b2f-062,2020-01-22,2020-01-13,674.1222,D01,E
20693,NaN,7b261012-dd0,04f32485-435,e42d95a3-dde,2019-12-27,2019-12-13,2043.3000,D01,E
20823,NaN,7b261012-dd0,71ff7757-525,a17887bc-b42,2019-02-27,2019-02-13,1668.0000,D01,I
20942,NaN,7b261012-dd0,1cccf18b-807,a5957baa-661,2019-12-27,2019-12-13,2043.3000,D01,I
22237,NaN,7b261012-dd0,bdad3fcd-229,7950c32d-c18,2019-05-27,2019-05-13,400.9872,D01,I
32421,NaN,7b261012-dd0,310db50d-f71,2f0bba43-ec4,2019-06-17,2019-06-13,1103.5488,D01,E
32550,NaN,7b261012-dd0,2f171922-d46,457ac043-3e3,2019-04-26,2019-04-13,1266.5541,D01,E
32579,NaN,7b261012-dd0,ac243018-b60,2b975857-423,2019-10-16,2019-10-13,1050.2145,D01,I
32797,NaN,7b261012-dd0,cebf45f1-daf,fd57365b-e49,2019-08-20,2019-08-13,1638.9768,D01,I
32881,NaN,7b261012-dd0,4c868b50-4d4,0679b7cb-dd9,2019-05-27,2019-05-13,400.9872,D01,E
38766,NaN,7b261012-dd0,ed330749-d1b,c6f87a6b-bcc,2019-09-20,2019-09-13,1695.8556,D01,E

In [198]:
#cpf: 06090237051
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
9322,-68 days,7b261012-dd0,af3e819e-d6d,2f1dea10-77e,2019-01-04,2019-03-13,2132.2878,D01,E
9961,1 days,7b261012-dd0,944f8360-f6b,cd3de7f8-b07,2019-01-14,2019-01-13,2018.3217,D01,I
20823,14 days,7b261012-dd0,71ff7757-525,a17887bc-b42,2019-02-27,2019-02-13,1668.0000,D01,I
32550,13 days,7b261012-dd0,2f171922-d46,457ac043-3e3,2019-04-26,2019-04-13,1266.5541,D01,E
11987,13 days,7b261012-dd0,c9202c49-c98,44ff9f2c-105,2019-04-26,2019-04-13,1266.5541,D01,I
22237,14 days,7b261012-dd0,bdad3fcd-229,7950c32d-c18,2019-05-27,2019-05-13,400.9872,D01,I
32881,14 days,7b261012-dd0,4c868b50-4d4,0679b7cb-dd9,2019-05-27,2019-05-13,400.9872,D01,E
32421,4 days,7b261012-dd0,310db50d-f71,2f0bba43-ec4,2019-06-17,2019-06-13,1103.5488,D01,E
9554,4 days,7b261012-dd0,77959cab-543,63db5fc7-274,2019-06-17,2019-06-13,1103.5488,D01,I
9673,6 days,7b261012-dd0,54010cdb-8af,85e4b27d-eec,2019-07-19,2019-07-13,1260.7161,D01,E
11863,6 days,7b261012-dd0,a0e1721b-a89,4d981ee6-092,2019-07-19,2019-07-13,1260.7161,D01,I
11931,7 days,7b261012-dd0,35499441-656,398e0069-8a3,2019-08-20,2019-08-13,1638.9768,D01,E
32797,7 days,7b261012-dd0,cebf45f1-daf,fd57365b-e49,2019-08-20,2019-08-13,1638.9768,D01,I
38766,7 days,7b261012-dd0,ed330749-d1b,c6f87a6b-bcc,2019-09-20,2019-09-13,1695.8556,D01,E
3423,7 days,7b261012-dd0,9c64619e-68b,0f8a6be0-689,2019-09-20,2019-09-13,1695.8556,D01,I
32579,3 days,7b261012-dd0,ac243018-b60,2b975857-423,2019-10-16,2019-10-13,1050.2145,D01,I
441,3 days,7b261012-dd0,40950ae8-8b7,ab5d6d0f-ee3,2019-10-16,2019-10-13,1050.2145,D01,E
9918,12 days,7b261012-dd0,217f2b60-045,a2e9dc3b-53f,2019-11-25,2019-11-13,2162.4786,D01,I
744,12 days,7b261012-dd0,4d4a46d9-81d,38bc8aa9-d2a,2019-11-25,2019-11-13,2162.4786,D01,E
20693,14 days,7b261012-dd0,04f32485-435,e42d95a3-dde,2019-12-27,2019-12-13,2043.3000,D01,E
20942,14 days,7b261012-dd0,1cccf18b-807,a5957baa-661,2019-12-27,2019-12-13,2043.3000,D01,I
3424,9 days,7b261012-dd0,a07e5722-dab,e4774102-3f1,2020-01-22,2020-01-13,674.1222,D01,I
20602,9 days,7b261012-dd0,8f120f48-eb2,d70e4b2f-062,2020-01-22,2020-01-13,674.1222,D01,E
9555,7 days,7b261012-dd0,35a2f9c1-c0c,8f428ca8-00c,2020-03-20,2020-03-13,958.2243,D01,I

In [201]:

#cpf: 06090237051
c = c[c['id_opr_cad_pos'] == '7b261012-dd0']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
4548,NaN,7b261012-dd0,54010cdb-8af,13072019,NaN,NaN,1260.7161,20912.5500,NaN,ANT,NaN
8344,NaN,7b261012-dd0,8f120f48-eb2,13012020,NaN,NaN,674.1222,13665.0900,NaN,ANT,NaN
9533,NaN,7b261012-dd0,77959cab-543,13062019,NaN,NaN,1103.5488,281.6418,NaN,ANT,NaN
12892,NaN,7b261012-dd0,2f171922-d46,13042019,NaN,NaN,1266.5541,33013.8900,NaN,ANT,NaN
13755,NaN,7b261012-dd0,9c64619e-68b,13092019,NaN,NaN,1695.8556,281.6418,NaN,ANT,NaN
16720,NaN,7b261012-dd0,217f2b60-045,13112019,NaN,NaN,2162.4786,341.5647,NaN,ANT,NaN
17799,NaN,7b261012-dd0,35499441-656,13082019,NaN,NaN,1638.9768,26675.4900,NaN,ANT,NaN
18333,NaN,7b261012-dd0,4c868b50-4d4,13052019,NaN,NaN,400.9872,19023.5400,NaN,ANT,NaN
18607,NaN,7b261012-dd0,a0e1721b-a89,13072019,NaN,NaN,1260.7161,209.1255,NaN,ANT,NaN
19547,NaN,7b261012-dd0,944f8360-f6b,13012019,NaN,NaN,2018.3217,55423.4700,NaN,ANT,NaN
22243,NaN,7b261012-dd0,1cccf18b-807,13122019,NaN,NaN,2139.8355,357.2022,NaN,ANT,NaN
24447,NaN,7b261012-dd0,71ff7757-525,13022019,NaN,NaN,2058.7290,41328.8700,NaN,ANT,NaN
27822,NaN,7b261012-dd0,bdad3fcd-229,13052019,NaN,NaN,400.9872,190.2354,NaN,ANT,NaN
31537,NaN,7b261012-dd0,ac243018-b60,13102019,NaN,NaN,1050.2145,185.6901,NaN,ANT,NaN
31583,NaN,7b261012-dd0,310db50d-f71,13062019,NaN,NaN,1103.5488,28164.1800,NaN,ANT,NaN
33341,NaN,7b261012-dd0,4d4a46d9-81d,13112019,NaN,NaN,2162.4786,34156.4700,NaN,ANT,NaN
34876,NaN,7b261012-dd0,c9202c49-c98,13042019,NaN,NaN,1266.5541,330.1389,NaN,ANT,NaN
35125,NaN,7b261012-dd0,ed330749-d1b,13092019,NaN,NaN,1695.8556,28164.1800,NaN,ANT,NaN
39328,NaN,7b261012-dd0,cebf45f1-daf,13082019,NaN,NaN,1638.9768,266.7549,NaN,ANT,NaN
39398,NaN,7b261012-dd0,5a320034-4fe,13022020,NaN,NaN,2528.8548,388.2270,NaN,ANT,NaN
42757,NaN,7b261012-dd0,a07e5722-dab,13012020,NaN,NaN,674.1222,136.6509,NaN,ANT,NaN
43740,NaN,7b261012-dd0,af3e819e-d6d,13032019,NaN,NaN,2132.2878,46412.1000,NaN,ANT,NaN
44099,NaN,7b261012-dd0,04f32485-435,13122019,NaN,NaN,2139.8355,35720.2200,NaN,ANT,NaN
46283,NaN,7b261012-dd0,35a2f9c1-c0c,13032020,NaN,NaN,958.2243,186.3573,NaN,ANT,NaN
52039,NaN,7b261012-dd0,40950ae8-8b7,13102019,NaN,NaN,1050.2145,18569.0100,NaN,ANT,NaN

In [210]:
#cpf: 05309680888
b[b['doc_cli'] == '5309680888']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
2170,NaN,b2b50bfe-afd,5309680888,F,84,10052023,NULL,78220.3179,16136307.06,af2d2b71-fd36-4dc3-87d2-db8183998b38,14,C01,99

In [211]:
#cpf: 05309680888
d = d[d['id_opr_cad_pos'] == 'b2b50bfe-afd']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
541,NaN,b2b50bfe-afd,665de55c-af3,f4574abf-fa1,04/12/18,2018-12-10,1828.1697,C01,I
3977,NaN,b2b50bfe-afd,2a479b79-296,e708b873-8f9,08/04/19,2019-04-10,1928.2080,C01,I
6387,NaN,b2b50bfe-afd,be751105-c86,65a72244-1e6,08/01/19,2019-01-10,1826.8353,C01,I
6388,NaN,b2b50bfe-afd,b15c2cdb-714,ca89d210-bdd,11/03/19,2019-03-10,1824.2082,C01,I
9315,NaN,b2b50bfe-afd,19e05e71-f40,71118acb-00f,10/05/19,2019-05-10,1898.8095,C01,I
9438,NaN,b2b50bfe-afd,a115f60a-b3d,1bc4df55-90a,09/08/19,2019-08-10,1882.2129,C01,I
12582,NaN,b2b50bfe-afd,c7df3a9d-5ce,fd09e329-297,03/07/19,2019-07-10,1883.5890,C01,I
18447,NaN,b2b50bfe-afd,311a9e77-5a5,db409862-773,04/09/19,2019-09-10,1880.8368,C01,I
18478,NaN,b2b50bfe-afd,f50db612-782,51f6dc8c-2e4,09/10/19,2019-10-10,1960.1502,C01,I
18817,NaN,b2b50bfe-afd,8d322ee0-d2c,49476672-92a,10/06/19,2019-06-10,1884.9651,C01,I
20570,NaN,b2b50bfe-afd,a092c2cd-4bc,00cacdbc-313,04/02/19,2019-02-10,1825.5009,C01,I
32471,NaN,b2b50bfe-afd,bb0580de-162,3ec6c593-cd8,04/11/19,2019-11-10,1926.4566,C01,I
38487,NaN,b2b50bfe-afd,cadd8bbd-580,62020666-d10,12/11/18,2018-11-10,1829.5041,C01,I

In [212]:
#cpf: 05309680888
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-212-5f9503ae5585>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-212-5f9503ae5585>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
541,NaN,b2b50bfe-afd,665de55c-af3,f4574abf-fa1,2018-04-12,2018-12-10,1828.1697,C01,I
3977,NaN,b2b50bfe-afd,2a479b79-296,e708b873-8f9,2019-08-04,2019-04-10,1928.2080,C01,I
6387,NaN,b2b50bfe-afd,be751105-c86,65a72244-1e6,2019-08-01,2019-01-10,1826.8353,C01,I
6388,NaN,b2b50bfe-afd,b15c2cdb-714,ca89d210-bdd,2019-11-03,2019-03-10,1824.2082,C01,I
9315,NaN,b2b50bfe-afd,19e05e71-f40,71118acb-00f,2019-10-05,2019-05-10,1898.8095,C01,I
9438,NaN,b2b50bfe-afd,a115f60a-b3d,1bc4df55-90a,2019-09-08,2019-08-10,1882.2129,C01,I
12582,NaN,b2b50bfe-afd,c7df3a9d-5ce,fd09e329-297,2019-03-07,2019-07-10,1883.5890,C01,I
18447,NaN,b2b50bfe-afd,311a9e77-5a5,db409862-773,2019-04-09,2019-09-10,1880.8368,C01,I
18478,NaN,b2b50bfe-afd,f50db612-782,51f6dc8c-2e4,2019-09-10,2019-10-10,1960.1502,C01,I
18817,NaN,b2b50bfe-afd,8d322ee0-d2c,49476672-92a,2019-10-06,2019-06-10,1884.9651,C01,I
20570,NaN,b2b50bfe-afd,a092c2cd-4bc,00cacdbc-313,2019-04-02,2019-02-10,1825.5009,C01,I
32471,NaN,b2b50bfe-afd,bb0580de-162,3ec6c593-cd8,2019-04-11,2019-11-10,1926.4566,C01,I
38487,NaN,b2b50bfe-afd,cadd8bbd-580,62020666-d10,2018-12-11,2018-11-10,1829.5041,C01,I

In [213]:
#cpf: 05309680888
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-213-b09e83a048b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
541,-242 days,b2b50bfe-afd,665de55c-af3,f4574abf-fa1,2018-04-12,2018-12-10,1828.1697,C01,I
38487,31 days,b2b50bfe-afd,cadd8bbd-580,62020666-d10,2018-12-11,2018-11-10,1829.5041,C01,I
12582,-125 days,b2b50bfe-afd,c7df3a9d-5ce,fd09e329-297,2019-03-07,2019-07-10,1883.5890,C01,I
20570,51 days,b2b50bfe-afd,a092c2cd-4bc,00cacdbc-313,2019-04-02,2019-02-10,1825.5009,C01,I
18447,-154 days,b2b50bfe-afd,311a9e77-5a5,db409862-773,2019-04-09,2019-09-10,1880.8368,C01,I
32471,-213 days,b2b50bfe-afd,bb0580de-162,3ec6c593-cd8,2019-04-11,2019-11-10,1926.4566,C01,I
6387,203 days,b2b50bfe-afd,be751105-c86,65a72244-1e6,2019-08-01,2019-01-10,1826.8353,C01,I
3977,116 days,b2b50bfe-afd,2a479b79-296,e708b873-8f9,2019-08-04,2019-04-10,1928.2080,C01,I
9438,29 days,b2b50bfe-afd,a115f60a-b3d,1bc4df55-90a,2019-09-08,2019-08-10,1882.2129,C01,I
18478,-30 days,b2b50bfe-afd,f50db612-782,51f6dc8c-2e4,2019-09-10,2019-10-10,1960.1502,C01,I
9315,148 days,b2b50bfe-afd,19e05e71-f40,71118acb-00f,2019-10-05,2019-05-10,1898.8095,C01,I
18817,118 days,b2b50bfe-afd,8d322ee0-d2c,49476672-92a,2019-10-06,2019-06-10,1884.9651,C01,I
6388,238 days,b2b50bfe-afd,b15c2cdb-714,ca89d210-bdd,2019-11-03,2019-03-10,1824.2082,C01,I

In [215]:
#cpf: 05309680888
c = c[c['id_opr_cad_pos'] == '7b261012-dd0']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
4548,NaN,7b261012-dd0,54010cdb-8af,13072019,NaN,NaN,1260.7161,20912.5500,NaN,ANT,NaN
8344,NaN,7b261012-dd0,8f120f48-eb2,13012020,NaN,NaN,674.1222,13665.0900,NaN,ANT,NaN
9533,NaN,7b261012-dd0,77959cab-543,13062019,NaN,NaN,1103.5488,281.6418,NaN,ANT,NaN
12892,NaN,7b261012-dd0,2f171922-d46,13042019,NaN,NaN,1266.5541,33013.8900,NaN,ANT,NaN
13755,NaN,7b261012-dd0,9c64619e-68b,13092019,NaN,NaN,1695.8556,281.6418,NaN,ANT,NaN
16720,NaN,7b261012-dd0,217f2b60-045,13112019,NaN,NaN,2162.4786,341.5647,NaN,ANT,NaN
17799,NaN,7b261012-dd0,35499441-656,13082019,NaN,NaN,1638.9768,26675.4900,NaN,ANT,NaN
18333,NaN,7b261012-dd0,4c868b50-4d4,13052019,NaN,NaN,400.9872,19023.5400,NaN,ANT,NaN
18607,NaN,7b261012-dd0,a0e1721b-a89,13072019,NaN,NaN,1260.7161,209.1255,NaN,ANT,NaN
19547,NaN,7b261012-dd0,944f8360-f6b,13012019,NaN,NaN,2018.3217,55423.4700,NaN,ANT,NaN
22243,NaN,7b261012-dd0,1cccf18b-807,13122019,NaN,NaN,2139.8355,357.2022,NaN,ANT,NaN
24447,NaN,7b261012-dd0,71ff7757-525,13022019,NaN,NaN,2058.7290,41328.8700,NaN,ANT,NaN
27822,NaN,7b261012-dd0,bdad3fcd-229,13052019,NaN,NaN,400.9872,190.2354,NaN,ANT,NaN
31537,NaN,7b261012-dd0,ac243018-b60,13102019,NaN,NaN,1050.2145,185.6901,NaN,ANT,NaN
31583,NaN,7b261012-dd0,310db50d-f71,13062019,NaN,NaN,1103.5488,28164.1800,NaN,ANT,NaN
33341,NaN,7b261012-dd0,4d4a46d9-81d,13112019,NaN,NaN,2162.4786,34156.4700,NaN,ANT,NaN
34876,NaN,7b261012-dd0,c9202c49-c98,13042019,NaN,NaN,1266.5541,330.1389,NaN,ANT,NaN
35125,NaN,7b261012-dd0,ed330749-d1b,13092019,NaN,NaN,1695.8556,28164.1800,NaN,ANT,NaN
39328,NaN,7b261012-dd0,cebf45f1-daf,13082019,NaN,NaN,1638.9768,266.7549,NaN,ANT,NaN
39398,NaN,7b261012-dd0,5a320034-4fe,13022020,NaN,NaN,2528.8548,388.2270,NaN,ANT,NaN
42757,NaN,7b261012-dd0,a07e5722-dab,13012020,NaN,NaN,674.1222,136.6509,NaN,ANT,NaN
43740,NaN,7b261012-dd0,af3e819e-d6d,13032019,NaN,NaN,2132.2878,46412.1000,NaN,ANT,NaN
44099,NaN,7b261012-dd0,04f32485-435,13122019,NaN,NaN,2139.8355,35720.2200,NaN,ANT,NaN
46283,NaN,7b261012-dd0,35a2f9c1-c0c,13032020,NaN,NaN,958.2243,186.3573,NaN,ANT,NaN
52039,NaN,7b261012-dd0,40950ae8-8b7,13102019,NaN,NaN,1050.2145,18569.0100,NaN,ANT,NaN

In [218]:
#cpf: 53829829299
b[b['doc_cli'] == '53829829299']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
2482,NaN,91c7a92f-125,53829829299,F,NULL,NULL,NULL,3218.9481,NULL,b5c5408d-7dc6-43cf-b260-6fb5234a91c9,15,D01,179

In [221]:
#cpf: 53829829299
d = d[d['id_opr_cad_pos'] == '91c7a92f-125']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
4314,NaN,91c7a92f-125,f0b73274-96a,1715d1d2-bb2,20/09/19,2019-09-23,1275.5196,D01,E
4315,NaN,91c7a92f-125,815ad0d7-b48,b6c4914f-810,18/07/19,2019-07-22,2041.7988,D01,E
4572,NaN,91c7a92f-125,42a50819-b36,93ee19bf-f3d,18/07/19,2019-07-22,2041.7988,D01,E
10862,NaN,91c7a92f-125,d2256cee-108,b4e2d18a-4b6,20/01/20,2020-01-21,4065.4581,D01,E
14505,NaN,91c7a92f-125,48aaa48f-6aa,dcb31c78-24e,23/12/19,2019-12-23,1283.5260,D01,E
14785,NaN,91c7a92f-125,8ed5b6eb-f13,9456143d-0d6,20/08/19,2019-08-21,3211.9425,D01,E
16172,NaN,91c7a92f-125,793345da-276,2985c7c5-c22,20/11/19,2019-11-21,2387.4918,D01,E
16173,NaN,91c7a92f-125,9955e1ed-212,a2c14eff-993,23/12/19,2019-12-23,1283.5260,D01,E
16490,NaN,91c7a92f-125,4ca1b4ce-80d,ac25f1f1-3f1,20/04/19,2019-04-22,5586.6741,D01,E
16856,NaN,91c7a92f-125,28e6f8ce-b20,bbcde339-32d,20/01/20,2020-01-21,4065.4581,D01,E
17428,NaN,91c7a92f-125,7cf6ef94-68a,cb060a71-47a,20/08/19,2019-08-21,3211.9425,D01,E
25149,NaN,91c7a92f-125,2cf415b4-cf6,6e49eb79-d4f,20/09/19,2019-09-23,1275.5196,D01,E
25167,NaN,91c7a92f-125,da2a997a-1d2,7e6e5b98-280,10/10/19,2019-10-21,879.2445,D01,E
25406,NaN,91c7a92f-125,ba9fa4d0-10a,030ba3bb-3e7,20/05/19,2019-05-21,2129.2437,D01,E
25407,NaN,91c7a92f-125,0746c54f-c30,37811764-4ba,21/01/19,2019-01-21,3650.5014,D01,I
25722,NaN,91c7a92f-125,d626da99-16d,6c67e541-6cb,13/06/19,2019-06-21,4260.6975,D01,E
25745,NaN,91c7a92f-125,a1a251e8-8d7,9f41b7fd-8ef,19/02/20,2020-02-21,2111.3127,D01,E
26033,NaN,91c7a92f-125,d9a40ac9-079,3065cef0-111,20/01/20,2020-01-21,4065.4581,D01,E
26877,NaN,91c7a92f-125,a110b10a-f3b,10b39839-fce,10/10/19,2019-10-21,879.2445,D01,E
26878,NaN,91c7a92f-125,cb884ffa-010,fe6b030f-a83,20/05/19,2019-05-21,2129.2437,D01,E
27978,NaN,91c7a92f-125,40e8720a-fff,9a709583-b3b,20/03/19,2019-03-21,2688.7326,D01,E
28551,NaN,91c7a92f-125,063f3f4c-c09,5f029a2f-89a,13/06/19,2019-06-21,4260.6975,D01,E
29036,NaN,91c7a92f-125,f18af84a-ca4,d36b8a47-a06,20/03/19,2019-03-21,2688.7326,D01,E
32188,NaN,91c7a92f-125,b18e13e1-c44,6158842f-859,20/04/19,2019-04-22,5586.6741,D01,E
35175,NaN,91c7a92f-125,8b9317d1-924,2e55fe3d-e85,21/02/19,2019-02-21,4254.4842,D01,E
36241,NaN,91c7a92f-125,f494bede-19a,1291d35e-00a,20/11/19,2019-11-21,2387.4918,D01,E

In [222]:
#cpf: 53829829299
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-222-2ec957cc98db>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-222-2ec957cc98db>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
4314,NaN,91c7a92f-125,f0b73274-96a,1715d1d2-bb2,2019-09-20,2019-09-23,1275.5196,D01,E
4315,NaN,91c7a92f-125,815ad0d7-b48,b6c4914f-810,2019-07-18,2019-07-22,2041.7988,D01,E
4572,NaN,91c7a92f-125,42a50819-b36,93ee19bf-f3d,2019-07-18,2019-07-22,2041.7988,D01,E
10862,NaN,91c7a92f-125,d2256cee-108,b4e2d18a-4b6,2020-01-20,2020-01-21,4065.4581,D01,E
14505,NaN,91c7a92f-125,48aaa48f-6aa,dcb31c78-24e,2019-12-23,2019-12-23,1283.5260,D01,E
14785,NaN,91c7a92f-125,8ed5b6eb-f13,9456143d-0d6,2019-08-20,2019-08-21,3211.9425,D01,E
16172,NaN,91c7a92f-125,793345da-276,2985c7c5-c22,2019-11-20,2019-11-21,2387.4918,D01,E
16173,NaN,91c7a92f-125,9955e1ed-212,a2c14eff-993,2019-12-23,2019-12-23,1283.5260,D01,E
16490,NaN,91c7a92f-125,4ca1b4ce-80d,ac25f1f1-3f1,2019-04-20,2019-04-22,5586.6741,D01,E
16856,NaN,91c7a92f-125,28e6f8ce-b20,bbcde339-32d,2020-01-20,2020-01-21,4065.4581,D01,E
17428,NaN,91c7a92f-125,7cf6ef94-68a,cb060a71-47a,2019-08-20,2019-08-21,3211.9425,D01,E
25149,NaN,91c7a92f-125,2cf415b4-cf6,6e49eb79-d4f,2019-09-20,2019-09-23,1275.5196,D01,E
25167,NaN,91c7a92f-125,da2a997a-1d2,7e6e5b98-280,2019-10-10,2019-10-21,879.2445,D01,E
25406,NaN,91c7a92f-125,ba9fa4d0-10a,030ba3bb-3e7,2019-05-20,2019-05-21,2129.2437,D01,E
25407,NaN,91c7a92f-125,0746c54f-c30,37811764-4ba,2019-01-21,2019-01-21,3650.5014,D01,I
25722,NaN,91c7a92f-125,d626da99-16d,6c67e541-6cb,2019-06-13,2019-06-21,4260.6975,D01,E
25745,NaN,91c7a92f-125,a1a251e8-8d7,9f41b7fd-8ef,2020-02-19,2020-02-21,2111.3127,D01,E
26033,NaN,91c7a92f-125,d9a40ac9-079,3065cef0-111,2020-01-20,2020-01-21,4065.4581,D01,E
26877,NaN,91c7a92f-125,a110b10a-f3b,10b39839-fce,2019-10-10,2019-10-21,879.2445,D01,E
26878,NaN,91c7a92f-125,cb884ffa-010,fe6b030f-a83,2019-05-20,2019-05-21,2129.2437,D01,E
27978,NaN,91c7a92f-125,40e8720a-fff,9a709583-b3b,2019-03-20,2019-03-21,2688.7326,D01,E
28551,NaN,91c7a92f-125,063f3f4c-c09,5f029a2f-89a,2019-06-13,2019-06-21,4260.6975,D01,E
29036,NaN,91c7a92f-125,f18af84a-ca4,d36b8a47-a06,2019-03-20,2019-03-21,2688.7326,D01,E
32188,NaN,91c7a92f-125,b18e13e1-c44,6158842f-859,2019-04-20,2019-04-22,5586.6741,D01,E
35175,NaN,91c7a92f-125,8b9317d1-924,2e55fe3d-e85,2019-02-21,2019-02-21,4254.4842,D01,E
36241,NaN,91c7a92f-125,f494bede-19a,1291d35e-00a,2019-11-20,2019-11-21,2387.4918,D01,E

In [223]:
#cpf: 53829829299
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-223-b09e83a048b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
25407,0 days,91c7a92f-125,0746c54f-c30,37811764-4ba,2019-01-21,2019-01-21,3650.5014,D01,I
35175,0 days,91c7a92f-125,8b9317d1-924,2e55fe3d-e85,2019-02-21,2019-02-21,4254.4842,D01,E
29036,-1 days,91c7a92f-125,f18af84a-ca4,d36b8a47-a06,2019-03-20,2019-03-21,2688.7326,D01,E
27978,-1 days,91c7a92f-125,40e8720a-fff,9a709583-b3b,2019-03-20,2019-03-21,2688.7326,D01,E
16490,-2 days,91c7a92f-125,4ca1b4ce-80d,ac25f1f1-3f1,2019-04-20,2019-04-22,5586.6741,D01,E
32188,-2 days,91c7a92f-125,b18e13e1-c44,6158842f-859,2019-04-20,2019-04-22,5586.6741,D01,E
26878,-1 days,91c7a92f-125,cb884ffa-010,fe6b030f-a83,2019-05-20,2019-05-21,2129.2437,D01,E
25406,-1 days,91c7a92f-125,ba9fa4d0-10a,030ba3bb-3e7,2019-05-20,2019-05-21,2129.2437,D01,E
28551,-8 days,91c7a92f-125,063f3f4c-c09,5f029a2f-89a,2019-06-13,2019-06-21,4260.6975,D01,E
25722,-8 days,91c7a92f-125,d626da99-16d,6c67e541-6cb,2019-06-13,2019-06-21,4260.6975,D01,E
4315,-4 days,91c7a92f-125,815ad0d7-b48,b6c4914f-810,2019-07-18,2019-07-22,2041.7988,D01,E
4572,-4 days,91c7a92f-125,42a50819-b36,93ee19bf-f3d,2019-07-18,2019-07-22,2041.7988,D01,E
14785,-1 days,91c7a92f-125,8ed5b6eb-f13,9456143d-0d6,2019-08-20,2019-08-21,3211.9425,D01,E
17428,-1 days,91c7a92f-125,7cf6ef94-68a,cb060a71-47a,2019-08-20,2019-08-21,3211.9425,D01,E
4314,-3 days,91c7a92f-125,f0b73274-96a,1715d1d2-bb2,2019-09-20,2019-09-23,1275.5196,D01,E
25149,-3 days,91c7a92f-125,2cf415b4-cf6,6e49eb79-d4f,2019-09-20,2019-09-23,1275.5196,D01,E
26877,-11 days,91c7a92f-125,a110b10a-f3b,10b39839-fce,2019-10-10,2019-10-21,879.2445,D01,E
25167,-11 days,91c7a92f-125,da2a997a-1d2,7e6e5b98-280,2019-10-10,2019-10-21,879.2445,D01,E
16172,-1 days,91c7a92f-125,793345da-276,2985c7c5-c22,2019-11-20,2019-11-21,2387.4918,D01,E
36241,-1 days,91c7a92f-125,f494bede-19a,1291d35e-00a,2019-11-20,2019-11-21,2387.4918,D01,E
16173,0 days,91c7a92f-125,9955e1ed-212,a2c14eff-993,2019-12-23,2019-12-23,1283.5260,D01,E
14505,0 days,91c7a92f-125,48aaa48f-6aa,dcb31c78-24e,2019-12-23,2019-12-23,1283.5260,D01,E
16856,-1 days,91c7a92f-125,28e6f8ce-b20,bbcde339-32d,2020-01-20,2020-01-21,4065.4581,D01,E
10862,-1 days,91c7a92f-125,d2256cee-108,b4e2d18a-4b6,2020-01-20,2020-01-21,4065.4581,D01,E
26033,-1 days,91c7a92f-125,d9a40ac9-079,3065cef0-111,2020-01-20,2020-01-21,4065.4581,D01,E
25745,-2 days,91c7a92f-125,a1a251e8-8d7,9f41b7fd-8ef,2020-02-19,2020-02-21,2111.3127,D01,E

In [226]:
#cpf: 53829829299
c = c[c['id_opr_cad_pos'] == '91c7a92f-125']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
69,NaN,91c7a92f-125,793345da-276,21112019,NaN,NaN,2387.4918,35862.0000,NaN,ANT,NaN
439,NaN,91c7a92f-125,d9a40ac9-079,21012020,NaN,NaN,4065.4581,61299.0000,NaN,ANT,NaN
935,NaN,91c7a92f-125,8ed5b6eb-f13,21082019,NaN,NaN,3211.9425,48372.0000,NaN,ANT,NaN
2048,NaN,91c7a92f-125,8b64ee03-e0a,23032020,NaN,NaN,1506.2874,229.3500,NaN,ANT,NaN
4436,NaN,91c7a92f-125,a1a251e8-8d7,21022020,NaN,NaN,2111.3127,31692.0000,NaN,ANT,NaN
7311,NaN,91c7a92f-125,da2a997a-1d2,21102019,NaN,NaN,879.2445,13344.0000,NaN,ANT,NaN
7537,NaN,91c7a92f-125,063f3f4c-c09,21062019,NaN,NaN,4260.6975,64218.0000,NaN,ANT,NaN
12113,NaN,91c7a92f-125,47eca18c-ce6,21082019,NaN,NaN,3211.9425,483.7200,NaN,ANT,NaN
12536,NaN,91c7a92f-125,d2256cee-108,21012020,NaN,NaN,4065.4581,612.9900,NaN,ANT,NaN
14564,NaN,91c7a92f-125,f0b73274-96a,23092019,NaN,NaN,1275.5196,19182.0000,NaN,ANT,NaN
15859,NaN,91c7a92f-125,8b9317d1-924,21022019,NaN,NaN,4254.4842,64218.0000,NaN,ANT,NaN
16463,NaN,91c7a92f-125,ba9fa4d0-10a,21052019,NaN,NaN,2129.2437,32109.0000,NaN,ANT,NaN
16573,NaN,91c7a92f-125,bdfcd5f6-93a,21062019,NaN,NaN,4260.6975,642.1800,NaN,ANT,NaN
17583,NaN,91c7a92f-125,42a50819-b36,22072019,NaN,NaN,2041.7988,30858.0000,NaN,ANT,NaN
17873,NaN,91c7a92f-125,0746c54f-c30,21012019,NaN,NaN,3650.5014,55461.0000,NaN,ANT,NaN
19300,NaN,91c7a92f-125,88326ac9-3a9,23032020,NaN,NaN,1506.2874,22935.0000,NaN,FUT,NaN
20581,NaN,91c7a92f-125,d232d30a-324,21022020,NaN,NaN,2111.3127,316.9200,NaN,ANT,NaN
23394,NaN,91c7a92f-125,4a1c1a63-b91,22072019,NaN,NaN,2041.7988,308.5800,NaN,ANT,NaN
25249,NaN,91c7a92f-125,28e6f8ce-b20,21012020,NaN,NaN,4065.4581,61299.0000,NaN,ANT,NaN
27753,NaN,91c7a92f-125,b18e13e1-c44,22042019,NaN,NaN,5586.6741,83817.0000,NaN,ANT,NaN
28184,NaN,91c7a92f-125,40e8720a-fff,21032019,NaN,NaN,2688.7326,40449.0000,NaN,ANT,NaN
28203,NaN,91c7a92f-125,941d611d-a27,21052019,NaN,NaN,2129.2437,321.0900,NaN,ANT,NaN
28939,NaN,91c7a92f-125,48aaa48f-6aa,23122019,NaN,NaN,1283.5260,19599.0000,NaN,ANT,NaN
29237,NaN,91c7a92f-125,4ca1b4ce-80d,22042019,NaN,NaN,5586.6741,83817.0000,NaN,ANT,NaN
29884,NaN,91c7a92f-125,2cf415b4-cf6,23092019,NaN,NaN,1275.5196,19182.0000,NaN,ANT,NaN
30153,NaN,91c7a92f-125,7af0ff80-5b7,23122019,NaN,NaN,1283.5260,195.9900,NaN,ANT,NaN
31567,NaN,91c7a92f-125,7cf6ef94-68a,21082019,NaN,NaN,3211.9425,48372.0000,NaN,ANT,NaN
32647,NaN,91c7a92f-125,f494bede-19a,21112019,NaN,NaN,2387.4918,35862.0000,NaN,ANT,NaN
34863,NaN,91c7a92f-125,a110b10a-f3b,21102019,NaN,NaN,879.2445,13344.0000,NaN,ANT,NaN
37088,NaN,91c7a92f-125,cb884ffa-010,21052019,NaN,NaN,2129.2437,32109.0000,NaN,ANT,NaN
40382,NaN,91c7a92f-125,da41ddac-606,21112019,NaN,NaN,2387.4918,358.6200,NaN,ANT,NaN
41772,NaN,91c7a92f-125,d27298bf-095,22042019,NaN,NaN,5586.6741,838.1700,NaN,ANT,NaN
46727,NaN,91c7a92f-125,815ad0d7-b48,22072019,NaN,NaN,2041.7988,30858.0000,NaN,ANT,NaN
47475,NaN,91c7a92f-125,d626da99-16d,21062019,NaN,NaN,4260.6975,64218.0000,NaN,ANT,NaN
48840,NaN,91c7a92f-125,09b61c8b-724,23092019,NaN,NaN,1275.5196,191.8200,NaN,ANT,NaN
49776,NaN,91c7a92f-125,8e2d03c1-529,21102019,NaN,NaN,879.2445,133.4400,NaN,ANT,NaN
50977,NaN,91c7a92f-125,9955e1ed-212,23122019,NaN,NaN,1283.5260,19599.0000,NaN,ANT,NaN
52290,NaN,91c7a92f-125,f18af84a-ca4,21032019,NaN,NaN,2688.7326,40449.0000,NaN,ANT,NaN

In [228]:
#cpf: 11435403525
b[b['doc_cli'] == '11435403525']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
651,NaN,806c821d-1c5,11435403525,F,NULL,NULL,NULL,2404.1718,NULL,f435d6b3-3b01-4806-96b2-b685e95f0ff5,15,D01,179

In [18]:
#cpf: 11435403525
#valores ausentes.
d = d[d['id_opr_cad_pos'] == '806c821d-1c5']
d

Empty DataFrame
Columns: [nulo, id_opr_cad_pos, id_mvt_cad_pos, id_pgt_cad_pos, dat_pgt, dat_vct_tfm, vlr_pgt_tfm, cod_mdl, cmd]
Index: []

In [8]:
#cpf: 11435403525
c = c[c['id_opr_cad_pos'] == '806c821d-1c5']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
6074,NaN,806c821d-1c5,7d8ba6b2-f47,20022020,NaN,NaN,1273.9767,521.2500,NaN,ANT,NaN
11016,NaN,806c821d-1c5,7658d537-eee,20012020,NaN,NaN,799.8894,291.9000,NaN,ANT,NaN
11519,NaN,806c821d-1c5,093439fd-747,20122019,NaN,NaN,375.1332,12093.0000,NaN,ANT,NaN
12066,NaN,806c821d-1c5,99a5732d-5fb,20012020,NaN,NaN,799.8894,291.9000,NaN,ANT,NaN
26805,NaN,806c821d-1c5,422c37ee-9a7,20122019,NaN,NaN,375.1332,12093.0000,NaN,ANT,NaN
31102,NaN,806c821d-1c5,03cc18d8-c80,20012020,NaN,NaN,799.8894,29190.0000,NaN,ANT,NaN
42011,NaN,806c821d-1c5,17c3c8b3-db6,20022020,NaN,NaN,1273.9767,521.2500,NaN,ANT,NaN
43496,NaN,806c821d-1c5,a38d499b-78b,20122019,NaN,NaN,375.1332,120.9300,NaN,ANT,NaN
43933,NaN,806c821d-1c5,5bf32cd7-1fc,20022020,NaN,NaN,1273.9767,52125.0000,NaN,ANT,NaN
50165,NaN,806c821d-1c5,25ee0bcf-252,20012020,NaN,NaN,799.8894,29190.0000,NaN,ANT,NaN
50526,NaN,806c821d-1c5,2212a38c-754,20122019,NaN,NaN,375.1332,120.9300,NaN,ANT,NaN

In [239]:
#cpf: 09639103101
b[b['doc_cli'] == '9639103101']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
620,NaN,2dd72848-0cc,9639103101,F,84,10072020,NULL,20852.5437,19453083.36,b7d0485e-2c7b-4785-a28e-52fd8d48ee26,14,C01,99

In [242]:
#cpf: 09639103101
d = d[d['id_opr_cad_pos'] == '2dd72848-0cc']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
854,NaN,2dd72848-0cc,3289e976-fc0,4bb701ee-635,13/09/19,2019-09-10,2316.8937,C01,I
1405,NaN,2dd72848-0cc,92060acc-512,b60487c0-bfb,15/02/19,2019-02-10,2251.2996,C01,I
2335,NaN,2dd72848-0cc,64ef1873-ac6,31d96803-336,10/12/18,2018-12-10,2205.2211,C01,I
6510,NaN,2dd72848-0cc,b2bc90f5-f82,4409b9aa-1ea,11/03/19,2019-03-10,2232.8682,C01,I
10080,NaN,2dd72848-0cc,116c9441-70b,cbacf533-665,15/04/19,2019-04-10,2377.4838,C01,I
12044,NaN,2dd72848-0cc,0918777a-01b,76a84975-a80,14/10/19,2019-10-10,2437.5318,C01,I
12379,NaN,2dd72848-0cc,75b762fc-465,831d635c-57d,05/11/18,2018-11-10,2206.7640,C01,I
12553,NaN,2dd72848-0cc,ae8afb88-b27,e8e6a570-12b,18/06/19,2019-06-10,2325.5673,C01,I
18947,NaN,2dd72848-0cc,dfe32d8e-83b,cb3e481e-5aa,17/01/19,2019-01-10,2252.7174,C01,I
23782,NaN,2dd72848-0cc,fad28e64-b02,9d6df0b0-c40,12/07/19,2019-07-10,2321.0637,C01,I
24880,NaN,2dd72848-0cc,18d4e571-e22,81ad4c7d-89a,12/08/19,2019-08-10,2306.0100,C01,I
33449,NaN,2dd72848-0cc,66e165fb-aab,a8856bed-e84,10/05/19,2019-05-10,2310.0966,C01,I

In [243]:
#cpf: 09639103101
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-243-5ffe43ecdd4b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-243-5ffe43ecdd4b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
854,NaN,2dd72848-0cc,3289e976-fc0,4bb701ee-635,2019-09-13,2019-09-10,2316.8937,C01,I
1405,NaN,2dd72848-0cc,92060acc-512,b60487c0-bfb,2019-02-15,2019-02-10,2251.2996,C01,I
2335,NaN,2dd72848-0cc,64ef1873-ac6,31d96803-336,2018-10-12,2018-12-10,2205.2211,C01,I
6510,NaN,2dd72848-0cc,b2bc90f5-f82,4409b9aa-1ea,2019-11-03,2019-03-10,2232.8682,C01,I
10080,NaN,2dd72848-0cc,116c9441-70b,cbacf533-665,2019-04-15,2019-04-10,2377.4838,C01,I
12044,NaN,2dd72848-0cc,0918777a-01b,76a84975-a80,2019-10-14,2019-10-10,2437.5318,C01,I
12379,NaN,2dd72848-0cc,75b762fc-465,831d635c-57d,2018-05-11,2018-11-10,2206.7640,C01,I
12553,NaN,2dd72848-0cc,ae8afb88-b27,e8e6a570-12b,2019-06-18,2019-06-10,2325.5673,C01,I
18947,NaN,2dd72848-0cc,dfe32d8e-83b,cb3e481e-5aa,2019-01-17,2019-01-10,2252.7174,C01,I
23782,NaN,2dd72848-0cc,fad28e64-b02,9d6df0b0-c40,2019-12-07,2019-07-10,2321.0637,C01,I
24880,NaN,2dd72848-0cc,18d4e571-e22,81ad4c7d-89a,2019-12-08,2019-08-10,2306.0100,C01,I
33449,NaN,2dd72848-0cc,66e165fb-aab,a8856bed-e84,2019-10-05,2019-05-10,2310.0966,C01,I

In [245]:
#cpf: 09639103101
d['nulo'] = d.apply(atraso)
d

<ipython-input-245-e0dd25ca591b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
854,3 days,2dd72848-0cc,3289e976-fc0,4bb701ee-635,2019-09-13,2019-09-10,2316.8937,C01,I
1405,5 days,2dd72848-0cc,92060acc-512,b60487c0-bfb,2019-02-15,2019-02-10,2251.2996,C01,I
2335,-59 days,2dd72848-0cc,64ef1873-ac6,31d96803-336,2018-10-12,2018-12-10,2205.2211,C01,I
6510,238 days,2dd72848-0cc,b2bc90f5-f82,4409b9aa-1ea,2019-11-03,2019-03-10,2232.8682,C01,I
10080,5 days,2dd72848-0cc,116c9441-70b,cbacf533-665,2019-04-15,2019-04-10,2377.4838,C01,I
12044,4 days,2dd72848-0cc,0918777a-01b,76a84975-a80,2019-10-14,2019-10-10,2437.5318,C01,I
12379,-183 days,2dd72848-0cc,75b762fc-465,831d635c-57d,2018-05-11,2018-11-10,2206.7640,C01,I
12553,8 days,2dd72848-0cc,ae8afb88-b27,e8e6a570-12b,2019-06-18,2019-06-10,2325.5673,C01,I
18947,7 days,2dd72848-0cc,dfe32d8e-83b,cb3e481e-5aa,2019-01-17,2019-01-10,2252.7174,C01,I
23782,150 days,2dd72848-0cc,fad28e64-b02,9d6df0b0-c40,2019-12-07,2019-07-10,2321.0637,C01,I
24880,120 days,2dd72848-0cc,18d4e571-e22,81ad4c7d-89a,2019-12-08,2019-08-10,2306.0100,C01,I
33449,148 days,2dd72848-0cc,66e165fb-aab,a8856bed-e84,2019-10-05,2019-05-10,2310.0966,C01,I

In [250]:
#cpf: 09639103101
c = c[c['id_opr_cad_pos'] == '2dd72848-0cc']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
451,NaN,2dd72848-0cc,116c9441-70b,10042019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
2428,NaN,2dd72848-0cc,dfe32d8e-83b,10012019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
7759,NaN,2dd72848-0cc,b2bc90f5-f82,10032019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
12441,NaN,2dd72848-0cc,3289e976-fc0,10092019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
12880,NaN,2dd72848-0cc,18d4e571-e22,10082019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
15558,NaN,2dd72848-0cc,231b4cc6-17a,10122019,8,9,NaN,NaN,2319.6042,FUT,M
19204,NaN,2dd72848-0cc,75b762fc-465,10112018,NaN,NaN,NaN,NaN,2319.6042,ANT,M
23416,NaN,2dd72848-0cc,64ef1873-ac6,10122018,NaN,NaN,NaN,NaN,2319.6042,ANT,M
27587,NaN,2dd72848-0cc,fad28e64-b02,10072019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
28430,NaN,2dd72848-0cc,ae8afb88-b27,10062019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
31295,NaN,2dd72848-0cc,0918777a-01b,10102019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
46205,NaN,2dd72848-0cc,92060acc-512,10022019,NaN,NaN,NaN,NaN,2319.6042,ANT,M
47826,NaN,2dd72848-0cc,66e165fb-aab,10052019,NaN,NaN,NaN,NaN,2319.6042,ANT,M

In [252]:
#cpf: 24048813021
b[b['doc_cli'] == '24048813021']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
289,NaN,1d607e66-05b,24048813021,F,36,28062020,173300.0292,NULL,NULL,ad2b6374-fa5f-47e5-9fe8-07c3cbc71717,10,B05,99

In [255]:
#cpf: 24048813021
d = d[d['id_opr_cad_pos'] == '1d607e66-05b']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
2581,NaN,1d607e66-05b,8ce6f277-1fe,e99bfe60-18b,29/07/19,2019-07-28,4813.8897,B05,I
8871,NaN,1d607e66-05b,0b4a2b1a-653,f0000fa2-e35,28/03/19,2019-03-28,4813.8897,B05,I
9247,NaN,1d607e66-05b,7a1a6f74-79f,b6c06721-7ed,28/10/19,2019-10-28,4813.8897,B05,I
16459,NaN,1d607e66-05b,31d7fed0-f94,75ac43b5-bfa,28/05/19,2019-05-28,4813.8897,B05,I
16933,NaN,1d607e66-05b,c22258f0-5f3,dbe8db91-bff,28/11/18,2018-11-28,4813.8897,B05,I
23824,NaN,1d607e66-05b,464509d1-d94,66b5e7d2-861,28/12/18,2018-12-28,4813.8897,B05,I
24556,NaN,1d607e66-05b,aa1c0b00-22d,a6d6a3e0-67c,28/01/19,2019-01-28,4813.8897,B05,I
34415,NaN,1d607e66-05b,18f5926f-8ec,cf561b1e-df8,30/09/19,2019-09-28,4813.8897,B05,I
34598,NaN,1d607e66-05b,11cdfee5-d2f,41573954-574,28/06/19,2019-06-28,4813.8897,B05,I
39085,NaN,1d607e66-05b,c783025a-06f,54e53e5d-87d,29/04/19,2019-04-28,4813.8897,B05,I
39270,NaN,1d607e66-05b,c40428fb-40a,1637600a-c37,28/02/19,2019-02-28,4813.8897,B05,I
39271,NaN,1d607e66-05b,4a1a9d16-82a,cb758b2a-651,28/08/19,2019-08-28,4813.8897,B05,I

In [256]:
#cpf: 24048813021
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-256-d8578bd31f11>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-256-d8578bd31f11>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
2581,NaN,1d607e66-05b,8ce6f277-1fe,e99bfe60-18b,2019-07-29,2019-07-28,4813.8897,B05,I
8871,NaN,1d607e66-05b,0b4a2b1a-653,f0000fa2-e35,2019-03-28,2019-03-28,4813.8897,B05,I
9247,NaN,1d607e66-05b,7a1a6f74-79f,b6c06721-7ed,2019-10-28,2019-10-28,4813.8897,B05,I
16459,NaN,1d607e66-05b,31d7fed0-f94,75ac43b5-bfa,2019-05-28,2019-05-28,4813.8897,B05,I
16933,NaN,1d607e66-05b,c22258f0-5f3,dbe8db91-bff,2018-11-28,2018-11-28,4813.8897,B05,I
23824,NaN,1d607e66-05b,464509d1-d94,66b5e7d2-861,2018-12-28,2018-12-28,4813.8897,B05,I
24556,NaN,1d607e66-05b,aa1c0b00-22d,a6d6a3e0-67c,2019-01-28,2019-01-28,4813.8897,B05,I
34415,NaN,1d607e66-05b,18f5926f-8ec,cf561b1e-df8,2019-09-30,2019-09-28,4813.8897,B05,I
34598,NaN,1d607e66-05b,11cdfee5-d2f,41573954-574,2019-06-28,2019-06-28,4813.8897,B05,I
39085,NaN,1d607e66-05b,c783025a-06f,54e53e5d-87d,2019-04-29,2019-04-28,4813.8897,B05,I
39270,NaN,1d607e66-05b,c40428fb-40a,1637600a-c37,2019-02-28,2019-02-28,4813.8897,B05,I
39271,NaN,1d607e66-05b,4a1a9d16-82a,cb758b2a-651,2019-08-28,2019-08-28,4813.8897,B05,I

In [259]:
#cpf: 24048813021
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-259-fdcae73cf8e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
16933,0 days,1d607e66-05b,c22258f0-5f3,dbe8db91-bff,2018-11-28,2018-11-28,4813.8897,B05,I
23824,0 days,1d607e66-05b,464509d1-d94,66b5e7d2-861,2018-12-28,2018-12-28,4813.8897,B05,I
24556,0 days,1d607e66-05b,aa1c0b00-22d,a6d6a3e0-67c,2019-01-28,2019-01-28,4813.8897,B05,I
39270,0 days,1d607e66-05b,c40428fb-40a,1637600a-c37,2019-02-28,2019-02-28,4813.8897,B05,I
8871,0 days,1d607e66-05b,0b4a2b1a-653,f0000fa2-e35,2019-03-28,2019-03-28,4813.8897,B05,I
39085,1 days,1d607e66-05b,c783025a-06f,54e53e5d-87d,2019-04-29,2019-04-28,4813.8897,B05,I
16459,0 days,1d607e66-05b,31d7fed0-f94,75ac43b5-bfa,2019-05-28,2019-05-28,4813.8897,B05,I
34598,0 days,1d607e66-05b,11cdfee5-d2f,41573954-574,2019-06-28,2019-06-28,4813.8897,B05,I
2581,1 days,1d607e66-05b,8ce6f277-1fe,e99bfe60-18b,2019-07-29,2019-07-28,4813.8897,B05,I
39271,0 days,1d607e66-05b,4a1a9d16-82a,cb758b2a-651,2019-08-28,2019-08-28,4813.8897,B05,I
34415,2 days,1d607e66-05b,18f5926f-8ec,cf561b1e-df8,2019-09-30,2019-09-28,4813.8897,B05,I
9247,0 days,1d607e66-05b,7a1a6f74-79f,b6c06721-7ed,2019-10-28,2019-10-28,4813.8897,B05,I

In [262]:
#cpf: 24048813021
c = c[c['id_opr_cad_pos'] == '1d607e66-05b']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
1138,NaN,1d607e66-05b,7a1a6f74-79f,28102019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
5923,NaN,1d607e66-05b,464509d1-d94,28122018,NaN,NaN,NaN,NaN,4813.8897,ANT,M
7058,NaN,1d607e66-05b,11cdfee5-d2f,28062019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
35964,NaN,1d607e66-05b,8ce6f277-1fe,28072019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
36200,NaN,1d607e66-05b,aa1c0b00-22d,28012019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
37254,NaN,1d607e66-05b,31d7fed0-f94,28052019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
40575,NaN,1d607e66-05b,b95b196a-218,28112019,8,8,NaN,NaN,4813.8897,FUT,M
50033,NaN,1d607e66-05b,c783025a-06f,28042019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
50041,NaN,1d607e66-05b,0b4a2b1a-653,28032019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
50424,NaN,1d607e66-05b,c40428fb-40a,28022019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
51879,NaN,1d607e66-05b,18f5926f-8ec,28092019,NaN,NaN,NaN,NaN,4813.8897,ANT,M
52319,NaN,1d607e66-05b,c22258f0-5f3,28112018,NaN,NaN,NaN,NaN,4813.8897,ANT,M
53791,NaN,1d607e66-05b,4a1a9d16-82a,28082019,NaN,NaN,NaN,NaN,4813.8897,ANT,M

In [264]:
#cpf: 28537130320
b[b['doc_cli'] == '28537130320']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
2154,NaN,849222ff-544,28537130320,F,NULL,NULL,NULL,0.0000,NULL,ebf06456-662b-4397-ad26-54fa3bc85b1c,15,D01,179

In [272]:
#cpf: 28537130320
d = d[d['id_opr_cad_pos'] == '849222ff-544']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
2829,NaN,849222ff-544,2bdb8b10-d3b,9af54a03-add,27/03/19,2019-03-27,834.6672,D01,E
8603,NaN,849222ff-544,0938d452-425,50a903f6-0ca,27/05/19,2019-05-27,193.4046,D01,E
13801,NaN,849222ff-544,8e5a7511-ae6,cab3f916-9d0,24/04/19,2019-04-29,200.1600,D01,E
16332,NaN,849222ff-544,ce526267-b92,7615576a-abd,24/04/19,2019-04-29,200.1600,D01,I
23262,NaN,849222ff-544,e6a39f71-f7a,65511444-52f,27/05/19,2019-05-27,193.4046,D01,E
23703,NaN,849222ff-544,05513dea-4ab,11f32fe6-784,27/02/19,2019-02-27,834.6672,D01,E
23838,NaN,849222ff-544,7890b19e-523,c152ff47-cee,24/04/19,2019-04-29,200.1600,D01,E
34436,NaN,849222ff-544,515efaa2-acd,05c211fa-b8d,28/01/19,2019-01-28,935.1225,D01,I
34596,NaN,849222ff-544,8e225343-764,e51cec90-62f,27/03/19,2019-03-27,834.6672,D01,E

In [273]:
#cpf: 28537130320
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-273-f7d85591872b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-273-f7d85591872b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
2829,NaN,849222ff-544,2bdb8b10-d3b,9af54a03-add,2019-03-27,2019-03-27,834.6672,D01,E
8603,NaN,849222ff-544,0938d452-425,50a903f6-0ca,2019-05-27,2019-05-27,193.4046,D01,E
13801,NaN,849222ff-544,8e5a7511-ae6,cab3f916-9d0,2019-04-24,2019-04-29,200.1600,D01,E
16332,NaN,849222ff-544,ce526267-b92,7615576a-abd,2019-04-24,2019-04-29,200.1600,D01,I
23262,NaN,849222ff-544,e6a39f71-f7a,65511444-52f,2019-05-27,2019-05-27,193.4046,D01,E
23703,NaN,849222ff-544,05513dea-4ab,11f32fe6-784,2019-02-27,2019-02-27,834.6672,D01,E
23838,NaN,849222ff-544,7890b19e-523,c152ff47-cee,2019-04-24,2019-04-29,200.1600,D01,E
34436,NaN,849222ff-544,515efaa2-acd,05c211fa-b8d,2019-01-28,2019-01-28,935.1225,D01,I
34596,NaN,849222ff-544,8e225343-764,e51cec90-62f,2019-03-27,2019-03-27,834.6672,D01,E

In [275]:
#cpf: 28537130320
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-275-e59f171cd9ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
34436,0 days,849222ff-544,515efaa2-acd,05c211fa-b8d,2019-01-28,2019-01-28,935.1225,D01,I
23703,0 days,849222ff-544,05513dea-4ab,11f32fe6-784,2019-02-27,2019-02-27,834.6672,D01,E
2829,0 days,849222ff-544,2bdb8b10-d3b,9af54a03-add,2019-03-27,2019-03-27,834.6672,D01,E
34596,0 days,849222ff-544,8e225343-764,e51cec90-62f,2019-03-27,2019-03-27,834.6672,D01,E
13801,-5 days,849222ff-544,8e5a7511-ae6,cab3f916-9d0,2019-04-24,2019-04-29,200.1600,D01,E
16332,-5 days,849222ff-544,ce526267-b92,7615576a-abd,2019-04-24,2019-04-29,200.1600,D01,I
23838,-5 days,849222ff-544,7890b19e-523,c152ff47-cee,2019-04-24,2019-04-29,200.1600,D01,E
8603,0 days,849222ff-544,0938d452-425,50a903f6-0ca,2019-05-27,2019-05-27,193.4046,D01,E
23262,0 days,849222ff-544,e6a39f71-f7a,65511444-52f,2019-05-27,2019-05-27,193.4046,D01,E

In [279]:
#cpf: 28537130320
c = c[c['id_opr_cad_pos'] == '849222ff-544']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
4297,NaN,849222ff-544,2bdb8b10-d3b,27032019,NaN,NaN,834.6672,12927.0000,NaN,ANT,NaN
5185,NaN,849222ff-544,3e5d4876-684,27052019,NaN,NaN,193.4046,29.1900,NaN,ANT,NaN
10040,NaN,849222ff-544,05513dea-4ab,27022019,NaN,NaN,834.6672,12927.0000,NaN,ANT,NaN
12676,NaN,849222ff-544,8e5a7511-ae6,29042019,NaN,NaN,196.7823,3336.0000,NaN,ANT,NaN
18830,NaN,849222ff-544,0938d452-425,27052019,NaN,NaN,193.4046,2919.0000,NaN,ANT,NaN
19459,NaN,849222ff-544,7890b19e-523,29042019,NaN,NaN,196.7823,3336.0000,NaN,ANT,NaN
19786,NaN,849222ff-544,ce526267-b92,29042019,NaN,NaN,196.7823,33.3600,NaN,ANT,NaN
25501,NaN,849222ff-544,8e225343-764,27032019,NaN,NaN,834.6672,12927.0000,NaN,ANT,NaN
26695,NaN,849222ff-544,02737ea0-5bd,27052019,NaN,NaN,193.4046,29.1900,NaN,ANT,NaN
34449,NaN,849222ff-544,7e34a6b8-32e,29042019,NaN,NaN,196.7823,33.3600,NaN,ANT,NaN
38101,NaN,849222ff-544,e6a39f71-f7a,27052019,NaN,NaN,193.4046,2919.0000,NaN,ANT,NaN
38258,NaN,849222ff-544,515efaa2-acd,28012019,NaN,NaN,935.1225,14178.0000,NaN,ANT,NaN

In [282]:
#cpf: 38553034011
b[b['doc_cli'] == '38553034011']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
1164,NaN,c1134cdb-06f,38553034011,F,84,22092026,NULL,187780.1457,20333074.29,c6ec3ffb-50f2-4855-9c31-8ec92eeb2452,14,C01,99

In [285]:
#cpf: 38553034011
d = d[d['id_opr_cad_pos'] == 'c1134cdb-06f']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
39114,NaN,c1134cdb-06f,c8ffea0d-e91,3913ddf6-337,03/10/19,2019-10-22,1973.7027,C01,I

In [286]:
#cpf: 38553034011
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-286-f2acf3b2e182>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-286-f2acf3b2e182>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
39114,NaN,c1134cdb-06f,c8ffea0d-e91,3913ddf6-337,2019-03-10,2019-10-22,1973.7027,C01,I

In [287]:
#cpf: 38553034011
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-287-fdd4cf0874ff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
39114,-226 days,c1134cdb-06f,c8ffea0d-e91,3913ddf6-337,2019-03-10,2019-10-22,1973.7027,C01,I

In [289]:
#cpf: 38553034011
c = c[c['id_opr_cad_pos'] == 'c1587b5d-1c5']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
1468,NaN,c1587b5d-1c5,b4181945-e32,25062019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
4620,NaN,c1587b5d-1c5,43f3b7b1-9b5,25012019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
17044,NaN,c1587b5d-1c5,f1d572ed-488,25122018,NaN,NaN,NaN,NaN,2728.3893,ANT,M
17690,NaN,c1587b5d-1c5,70932be2-dcf,25112018,NaN,NaN,NaN,NaN,2728.3893,ANT,M
23837,NaN,c1587b5d-1c5,4d6c9e57-1ba,25082019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
30032,NaN,c1587b5d-1c5,f17617dd-0ed,25072019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
30463,NaN,c1587b5d-1c5,80f35030-576,25022019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
31754,NaN,c1587b5d-1c5,681e4abd-f5d,NaN,0,0,NaN,NaN,NaN,FUT,M
32066,NaN,c1587b5d-1c5,15569ed2-991,25052019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
45540,NaN,c1587b5d-1c5,432dc32a-9c2,25032019,NaN,NaN,NaN,NaN,2728.3893,ANT,M
45855,NaN,c1587b5d-1c5,7cd7aef6-cc1,25092019,NaN,NaN,NaN,NaN,2730.0990,ANT,M
48790,NaN,c1587b5d-1c5,dbc71474-8a1,25042019,NaN,NaN,NaN,NaN,2728.3893,ANT,M

In [291]:
#cpf: 12731112573
b[b['doc_cli'] == '12731112573']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
178,NaN,001a45eb-7df,12731112573,F,30,21062021,106397.5500,NULL,NULL,91fcc7d3-b1c1-4761-8095-40614efe2c86,10,B05,99

In [294]:
#cpf: 12731112573
d = d[d['id_opr_cad_pos'] == '001a45eb-7df']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1347,NaN,001a45eb-7df,1aec6d51-fcb,ed3ed775-4c1,05/11/19,2019-11-21,3527.9868,B05,I
1483,NaN,001a45eb-7df,3e448faf-89a,b6565a38-d6e,05/08/19,2019-08-21,3527.9868,B05,I
2083,NaN,001a45eb-7df,b8b2080f-aba,aacfdb13-f59,07/03/19,2019-03-21,3530.3220,B05,I
6622,NaN,001a45eb-7df,f003ad7d-0f1,e6f70014-c96,05/08/19,2020-11-21,3043.3494,B05,I
6674,NaN,001a45eb-7df,259f0b69-a74,7e07446c-04f,08/01/19,2021-06-21,2653.9131,B05,I
11782,NaN,001a45eb-7df,a0c27887-e0c,d0482166-662,15/07/19,2021-02-21,2935.3881,B05,I
11809,NaN,001a45eb-7df,b0796d5e-892,3397a414-f51,04/02/19,2019-02-21,3526.8609,B05,I
11911,NaN,001a45eb-7df,a314c777-a87,cfce62c3-d2f,15/07/19,2020-12-21,2993.8098,B05,I
11925,NaN,001a45eb-7df,7d5b594a-e6f,97c47597-3bd,03/09/19,2020-09-21,3132.5874,B05,I
21377,NaN,001a45eb-7df,80b28042-92d,9ef87325-cb4,02/07/19,2019-07-21,3524.5257,B05,I
21455,NaN,001a45eb-7df,2d98ab2a-008,555cd833-32f,03/09/19,2019-09-21,3525.6933,B05,I
22550,NaN,001a45eb-7df,4f5bca99-986,23cb5cdb-d9e,04/06/19,2019-06-21,3526.8609,B05,I
22591,NaN,001a45eb-7df,b9fbf34f-c6d,ba6cfb62-84a,02/07/19,2021-04-21,2865.8742,B05,I
23505,NaN,001a45eb-7df,522bd989-9f5,c1b510c6-06d,07/01/19,2019-01-21,3530.3220,B05,I
24185,NaN,001a45eb-7df,e8db5ad2-68a,9545b91f-d48,15/07/19,2021-01-21,2964.4530,B05,I
33271,NaN,001a45eb-7df,d7599e82-858,2efc54c7-68a,30/01/19,2021-05-21,2699.6163,B05,I
33331,NaN,001a45eb-7df,f77ed02a-c60,8603df91-8fc,03/10/19,2019-10-21,3525.6933,B05,I
33766,NaN,001a45eb-7df,920a56da-9db,ad9a67e2-b9b,02/07/19,2021-03-21,2894.2302,B05,I
34292,NaN,001a45eb-7df,8f2595f4-f4d,a19b9d4f-ea5,02/04/19,2019-04-21,3524.5257,B05,I
34356,NaN,001a45eb-7df,aef81418-a21,8913580a-c7b,03/05/19,2019-05-21,3525.6933,B05,I
38858,NaN,001a45eb-7df,0807d735-2de,59bf52f1-50e,05/08/19,2020-10-21,3073.4985,B05,I

In [295]:
#cpf: 12731112573
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-295-23e3f9dbcf50>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-295-23e3f9dbcf50>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1347,NaN,001a45eb-7df,1aec6d51-fcb,ed3ed775-4c1,2019-05-11,2019-11-21,3527.9868,B05,I
1483,NaN,001a45eb-7df,3e448faf-89a,b6565a38-d6e,2019-05-08,2019-08-21,3527.9868,B05,I
2083,NaN,001a45eb-7df,b8b2080f-aba,aacfdb13-f59,2019-07-03,2019-03-21,3530.3220,B05,I
6622,NaN,001a45eb-7df,f003ad7d-0f1,e6f70014-c96,2019-05-08,2020-11-21,3043.3494,B05,I
6674,NaN,001a45eb-7df,259f0b69-a74,7e07446c-04f,2019-08-01,2021-06-21,2653.9131,B05,I
11782,NaN,001a45eb-7df,a0c27887-e0c,d0482166-662,2019-07-15,2021-02-21,2935.3881,B05,I
11809,NaN,001a45eb-7df,b0796d5e-892,3397a414-f51,2019-04-02,2019-02-21,3526.8609,B05,I
11911,NaN,001a45eb-7df,a314c777-a87,cfce62c3-d2f,2019-07-15,2020-12-21,2993.8098,B05,I
11925,NaN,001a45eb-7df,7d5b594a-e6f,97c47597-3bd,2019-03-09,2020-09-21,3132.5874,B05,I
21377,NaN,001a45eb-7df,80b28042-92d,9ef87325-cb4,2019-02-07,2019-07-21,3524.5257,B05,I
21455,NaN,001a45eb-7df,2d98ab2a-008,555cd833-32f,2019-03-09,2019-09-21,3525.6933,B05,I
22550,NaN,001a45eb-7df,4f5bca99-986,23cb5cdb-d9e,2019-04-06,2019-06-21,3526.8609,B05,I
22591,NaN,001a45eb-7df,b9fbf34f-c6d,ba6cfb62-84a,2019-02-07,2021-04-21,2865.8742,B05,I
23505,NaN,001a45eb-7df,522bd989-9f5,c1b510c6-06d,2019-07-01,2019-01-21,3530.3220,B05,I
24185,NaN,001a45eb-7df,e8db5ad2-68a,9545b91f-d48,2019-07-15,2021-01-21,2964.4530,B05,I
33271,NaN,001a45eb-7df,d7599e82-858,2efc54c7-68a,2019-01-30,2021-05-21,2699.6163,B05,I
33331,NaN,001a45eb-7df,f77ed02a-c60,8603df91-8fc,2019-03-10,2019-10-21,3525.6933,B05,I
33766,NaN,001a45eb-7df,920a56da-9db,ad9a67e2-b9b,2019-02-07,2021-03-21,2894.2302,B05,I
34292,NaN,001a45eb-7df,8f2595f4-f4d,a19b9d4f-ea5,2019-02-04,2019-04-21,3524.5257,B05,I
34356,NaN,001a45eb-7df,aef81418-a21,8913580a-c7b,2019-03-05,2019-05-21,3525.6933,B05,I
38858,NaN,001a45eb-7df,0807d735-2de,59bf52f1-50e,2019-05-08,2020-10-21,3073.4985,B05,I

In [296]:
#cpf: 12731112573
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-296-fe41852136c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
33271,-842 days,001a45eb-7df,d7599e82-858,2efc54c7-68a,2019-01-30,2021-05-21,2699.6163,B05,I
34292,-76 days,001a45eb-7df,8f2595f4-f4d,a19b9d4f-ea5,2019-02-04,2019-04-21,3524.5257,B05,I
33766,-773 days,001a45eb-7df,920a56da-9db,ad9a67e2-b9b,2019-02-07,2021-03-21,2894.2302,B05,I
22591,-804 days,001a45eb-7df,b9fbf34f-c6d,ba6cfb62-84a,2019-02-07,2021-04-21,2865.8742,B05,I
21377,-164 days,001a45eb-7df,80b28042-92d,9ef87325-cb4,2019-02-07,2019-07-21,3524.5257,B05,I
34356,-77 days,001a45eb-7df,aef81418-a21,8913580a-c7b,2019-03-05,2019-05-21,3525.6933,B05,I
21455,-196 days,001a45eb-7df,2d98ab2a-008,555cd833-32f,2019-03-09,2019-09-21,3525.6933,B05,I
11925,-562 days,001a45eb-7df,7d5b594a-e6f,97c47597-3bd,2019-03-09,2020-09-21,3132.5874,B05,I
33331,-225 days,001a45eb-7df,f77ed02a-c60,8603df91-8fc,2019-03-10,2019-10-21,3525.6933,B05,I
11809,40 days,001a45eb-7df,b0796d5e-892,3397a414-f51,2019-04-02,2019-02-21,3526.8609,B05,I
22550,-76 days,001a45eb-7df,4f5bca99-986,23cb5cdb-d9e,2019-04-06,2019-06-21,3526.8609,B05,I
38858,-532 days,001a45eb-7df,0807d735-2de,59bf52f1-50e,2019-05-08,2020-10-21,3073.4985,B05,I
6622,-563 days,001a45eb-7df,f003ad7d-0f1,e6f70014-c96,2019-05-08,2020-11-21,3043.3494,B05,I
1483,-105 days,001a45eb-7df,3e448faf-89a,b6565a38-d6e,2019-05-08,2019-08-21,3527.9868,B05,I
1347,-194 days,001a45eb-7df,1aec6d51-fcb,ed3ed775-4c1,2019-05-11,2019-11-21,3527.9868,B05,I
23505,161 days,001a45eb-7df,522bd989-9f5,c1b510c6-06d,2019-07-01,2019-01-21,3530.3220,B05,I
2083,104 days,001a45eb-7df,b8b2080f-aba,aacfdb13-f59,2019-07-03,2019-03-21,3530.3220,B05,I
11782,-587 days,001a45eb-7df,a0c27887-e0c,d0482166-662,2019-07-15,2021-02-21,2935.3881,B05,I
24185,-556 days,001a45eb-7df,e8db5ad2-68a,9545b91f-d48,2019-07-15,2021-01-21,2964.4530,B05,I
11911,-525 days,001a45eb-7df,a314c777-a87,cfce62c3-d2f,2019-07-15,2020-12-21,2993.8098,B05,I
6674,-690 days,001a45eb-7df,259f0b69-a74,7e07446c-04f,2019-08-01,2021-06-21,2653.9131,B05,I

In [308]:
#cpf: 12731112573
c = c[c['id_opr_cad_pos'] == '001a45eb-7df']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
949,NaN,001a45eb-7df,8f2595f4-f4d,21042019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
1898,NaN,001a45eb-7df,a0c27887-e0c,21022021,NaN,NaN,NaN,NaN,3546.5850,ANT,M
3277,NaN,001a45eb-7df,259f0b69-a74,21062021,NaN,NaN,NaN,NaN,3546.5850,ANT,M
4636,NaN,001a45eb-7df,80b28042-92d,21072019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
4814,NaN,001a45eb-7df,1aec6d51-fcb,21112019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
4928,NaN,001a45eb-7df,4f5bca99-986,21062019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
9941,NaN,001a45eb-7df,d7599e82-858,21052021,NaN,NaN,NaN,NaN,3546.5850,ANT,M
10513,NaN,001a45eb-7df,b8b2080f-aba,21032019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
11020,NaN,001a45eb-7df,e8db5ad2-68a,21012021,NaN,NaN,NaN,NaN,3546.5850,ANT,M
16809,NaN,001a45eb-7df,2d98ab2a-008,21092019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
22056,NaN,001a45eb-7df,3e448faf-89a,21082019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
25412,NaN,001a45eb-7df,a82a3659-e82,21122019,9,9,NaN,NaN,3546.5850,FUT,M
26271,NaN,001a45eb-7df,f77ed02a-c60,21102019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
28056,NaN,001a45eb-7df,b0796d5e-892,21022019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
28167,NaN,001a45eb-7df,f003ad7d-0f1,21112020,NaN,NaN,NaN,NaN,3546.5850,ANT,M
30276,NaN,001a45eb-7df,522bd989-9f5,21012019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
32473,NaN,001a45eb-7df,7d5b594a-e6f,21092020,NaN,NaN,NaN,NaN,3546.5850,ANT,M
38901,NaN,001a45eb-7df,a314c777-a87,21122020,NaN,NaN,NaN,NaN,3546.5850,ANT,M
47885,NaN,001a45eb-7df,0807d735-2de,21102020,NaN,NaN,NaN,NaN,3546.5850,ANT,M
49030,NaN,001a45eb-7df,aef81418-a21,21052019,NaN,NaN,NaN,NaN,3546.5850,ANT,M
50905,NaN,001a45eb-7df,b9fbf34f-c6d,21042021,NaN,NaN,NaN,NaN,3546.5850,ANT,M
51371,NaN,001a45eb-7df,920a56da-9db,21032021,NaN,NaN,NaN,NaN,3546.5850,ANT,M

In [313]:
#cpf: 18106900800
b[b['doc_cli'] == '18106900800']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
1710,NaN,8a2c7f71-457,18106900800,F,60,11062019,89819.2980,NULL,NULL,bfe781bb-b024-45f2-b1be-1d9b821f035d,10,B05,99

In [317]:
#cpf: 18106900800
d = d[d['id_opr_cad_pos'] == '8a2c7f71-457']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1782,NaN,8a2c7f71-457,d3f13ad3-837,8fa2d6c8-79c,30/11/18,2018-12-11,1496.9883,B05,I
7050,NaN,8a2c7f71-457,d5e37ff1-29e,06d62c7f-e95,01/03/19,2019-03-11,1496.9883,B05,I
8352,NaN,8a2c7f71-457,aaea6626-bd2,48445319-7be,28/03/19,2019-04-11,1496.9883,B05,I
12620,NaN,8a2c7f71-457,d2a59a4c-67d,342a8c7e-8b5,30/05/19,2019-06-11,1496.9883,B05,I
26454,NaN,8a2c7f71-457,5544ab9b-d5a,382b1d43-d1e,02/01/19,2019-01-11,1496.9883,B05,I
26455,NaN,8a2c7f71-457,d92b5799-258,a38ce2c6-472,06/05/19,2019-05-11,1496.9883,B05,I
32074,NaN,8a2c7f71-457,4a9d210d-197,ac40a770-57e,30/01/19,2019-02-11,1496.9883,B05,I

In [318]:
#cpf: 18106900800
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-318-8ddc2ddf51d5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-318-8ddc2ddf51d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1782,NaN,8a2c7f71-457,d3f13ad3-837,8fa2d6c8-79c,2018-11-30,2018-12-11,1496.9883,B05,I
7050,NaN,8a2c7f71-457,d5e37ff1-29e,06d62c7f-e95,2019-01-03,2019-03-11,1496.9883,B05,I
8352,NaN,8a2c7f71-457,aaea6626-bd2,48445319-7be,2019-03-28,2019-04-11,1496.9883,B05,I
12620,NaN,8a2c7f71-457,d2a59a4c-67d,342a8c7e-8b5,2019-05-30,2019-06-11,1496.9883,B05,I
26454,NaN,8a2c7f71-457,5544ab9b-d5a,382b1d43-d1e,2019-02-01,2019-01-11,1496.9883,B05,I
26455,NaN,8a2c7f71-457,d92b5799-258,a38ce2c6-472,2019-06-05,2019-05-11,1496.9883,B05,I
32074,NaN,8a2c7f71-457,4a9d210d-197,ac40a770-57e,2019-01-30,2019-02-11,1496.9883,B05,I

In [319]:
#cpf: 18106900800
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-319-bc4584bb5f58>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1782,-11 days,8a2c7f71-457,d3f13ad3-837,8fa2d6c8-79c,2018-11-30,2018-12-11,1496.9883,B05,I
7050,-67 days,8a2c7f71-457,d5e37ff1-29e,06d62c7f-e95,2019-01-03,2019-03-11,1496.9883,B05,I
32074,-12 days,8a2c7f71-457,4a9d210d-197,ac40a770-57e,2019-01-30,2019-02-11,1496.9883,B05,I
26454,21 days,8a2c7f71-457,5544ab9b-d5a,382b1d43-d1e,2019-02-01,2019-01-11,1496.9883,B05,I
8352,-14 days,8a2c7f71-457,aaea6626-bd2,48445319-7be,2019-03-28,2019-04-11,1496.9883,B05,I
12620,-12 days,8a2c7f71-457,d2a59a4c-67d,342a8c7e-8b5,2019-05-30,2019-06-11,1496.9883,B05,I
26455,25 days,8a2c7f71-457,d92b5799-258,a38ce2c6-472,2019-06-05,2019-05-11,1496.9883,B05,I

In [320]:
#cpf: 18106900800
c = c[c['id_opr_cad_pos'] == '8a2c7f71-457']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
1970,NaN,8a2c7f71-457,d2a59a4c-67d,11062019,NaN,NaN,NaN,NaN,1496.9883,ANT,M
6712,NaN,8a2c7f71-457,1ac92d66-6fa,NaN,0,0,NaN,NaN,NaN,FUT,M
7541,NaN,8a2c7f71-457,d92b5799-258,11052019,NaN,NaN,NaN,NaN,1496.9883,ANT,M
17341,NaN,8a2c7f71-457,4a9d210d-197,11022019,NaN,NaN,NaN,NaN,1496.9883,ANT,M
22992,NaN,8a2c7f71-457,d5e37ff1-29e,11032019,NaN,NaN,NaN,NaN,1496.9883,ANT,M
28823,NaN,8a2c7f71-457,5544ab9b-d5a,11012019,NaN,NaN,NaN,NaN,1496.9883,ANT,M
49033,NaN,8a2c7f71-457,d3f13ad3-837,11122018,NaN,NaN,NaN,NaN,1496.9883,ANT,M
51748,NaN,8a2c7f71-457,aaea6626-bd2,11042019,NaN,NaN,NaN,NaN,1496.9883,ANT,M

In [321]:
#cpf: 01367130760
b[b['doc_cli'] == '1367130760']

,nulo,id_opr_cad_pos,doc_cli,tip_cli,qtd_pcl,dat_vct_ult_pcl,vlr_ctrd_fta_tfm,sdo_ddr_tfm,vlr_ctrd,id_ult_rss_opr,id_mdl,cod_mdl,id_fnt
1571,NaN,85f4288d-a56,1367130760,F,60,24092023,316983.3840,NULL,NULL,97489fdc-2642-48d4-a531-1929e9a39a5d,10,B05,99

In [11]:
#cpf: 01367130760
d = d[d['id_opr_cad_pos'] == '85f4288d-a56']
d

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1457,NaN,85f4288d-a56,75f2a829-29b,5504def3-089,21/02/19,2019-02-24,5283.0564,B05,I
6325,NaN,85f4288d-a56,af8baea5-d85,08694c43-bfe,23/09/19,2019-09-24,5283.0564,B05,I
6411,NaN,85f4288d-a56,a3b58e81-e84,2983d48b-3fa,16/11/18,2018-11-24,5283.0564,B05,I
10142,NaN,85f4288d-a56,3b22a60d-7c5,18fa71a8-797,16/05/19,2019-05-24,5283.0564,B05,I
12067,NaN,85f4288d-a56,3eb056a0-8d9,e1034c9c-ad0,15/08/19,2019-08-24,5283.0564,B05,I
12129,NaN,85f4288d-a56,98c6a2a4-51d,a697aae9-74a,18/12/18,2018-12-24,5283.0564,B05,I
12157,NaN,85f4288d-a56,cc7fcf78-09e,32859bfe-199,10/01/19,2019-01-24,5283.0564,B05,I
20916,NaN,85f4288d-a56,4edc92a6-ab0,99d01fc7-701,19/03/19,2019-03-24,5283.0564,B05,I
21002,NaN,85f4288d-a56,13a67254-c86,03278826-841,18/06/19,2019-06-24,5283.0564,B05,I
22325,NaN,85f4288d-a56,ce0c7d2c-56b,f2b0f6ec-654,17/10/19,2019-10-24,5283.0564,B05,I
22624,NaN,85f4288d-a56,025a2bc9-7b6,5e465d23-26e,18/04/19,2019-04-24,5283.0564,B05,I
33107,NaN,85f4288d-a56,643aa223-8a6,37a3b730-177,11/11/19,2019-11-24,5283.0564,B05,I
33628,NaN,85f4288d-a56,18c91b3d-2be,27a5b02b-daf,16/07/19,2019-07-24,5283.0564,B05,I

In [12]:
#cpf: 01367130760
d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])
d

<ipython-input-12-84d4d5cbeb9b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_vct_tfm'] = pd.to_datetime(d['dat_vct_tfm'])
<ipython-input-12-84d4d5cbeb9b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['dat_pgt'] = pd.to_datetime(d['dat_pgt'])

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
1457,NaN,85f4288d-a56,75f2a829-29b,5504def3-089,2019-02-21,2019-02-24,5283.0564,B05,I
6325,NaN,85f4288d-a56,af8baea5-d85,08694c43-bfe,2019-09-23,2019-09-24,5283.0564,B05,I
6411,NaN,85f4288d-a56,a3b58e81-e84,2983d48b-3fa,2018-11-16,2018-11-24,5283.0564,B05,I
10142,NaN,85f4288d-a56,3b22a60d-7c5,18fa71a8-797,2019-05-16,2019-05-24,5283.0564,B05,I
12067,NaN,85f4288d-a56,3eb056a0-8d9,e1034c9c-ad0,2019-08-15,2019-08-24,5283.0564,B05,I
12129,NaN,85f4288d-a56,98c6a2a4-51d,a697aae9-74a,2018-12-18,2018-12-24,5283.0564,B05,I
12157,NaN,85f4288d-a56,cc7fcf78-09e,32859bfe-199,2019-10-01,2019-01-24,5283.0564,B05,I
20916,NaN,85f4288d-a56,4edc92a6-ab0,99d01fc7-701,2019-03-19,2019-03-24,5283.0564,B05,I
21002,NaN,85f4288d-a56,13a67254-c86,03278826-841,2019-06-18,2019-06-24,5283.0564,B05,I
22325,NaN,85f4288d-a56,ce0c7d2c-56b,f2b0f6ec-654,2019-10-17,2019-10-24,5283.0564,B05,I
22624,NaN,85f4288d-a56,025a2bc9-7b6,5e465d23-26e,2019-04-18,2019-04-24,5283.0564,B05,I
33107,NaN,85f4288d-a56,643aa223-8a6,37a3b730-177,2019-11-11,2019-11-24,5283.0564,B05,I
33628,NaN,85f4288d-a56,18c91b3d-2be,27a5b02b-daf,2019-07-16,2019-07-24,5283.0564,B05,I

In [15]:
#cpf: 01367130760
d['nulo'] = d.apply(atraso)
d.sort_values('dat_pgt')

<ipython-input-15-82c9e19ed0f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['nulo'] = d.apply(atraso)

,nulo,id_opr_cad_pos,id_mvt_cad_pos,id_pgt_cad_pos,dat_pgt,dat_vct_tfm,vlr_pgt_tfm,cod_mdl,cmd
6411,-8 days,85f4288d-a56,a3b58e81-e84,2983d48b-3fa,2018-11-16,2018-11-24,5283.0564,B05,I
12129,-6 days,85f4288d-a56,98c6a2a4-51d,a697aae9-74a,2018-12-18,2018-12-24,5283.0564,B05,I
1457,-3 days,85f4288d-a56,75f2a829-29b,5504def3-089,2019-02-21,2019-02-24,5283.0564,B05,I
20916,-5 days,85f4288d-a56,4edc92a6-ab0,99d01fc7-701,2019-03-19,2019-03-24,5283.0564,B05,I
22624,-6 days,85f4288d-a56,025a2bc9-7b6,5e465d23-26e,2019-04-18,2019-04-24,5283.0564,B05,I
10142,-8 days,85f4288d-a56,3b22a60d-7c5,18fa71a8-797,2019-05-16,2019-05-24,5283.0564,B05,I
21002,-6 days,85f4288d-a56,13a67254-c86,03278826-841,2019-06-18,2019-06-24,5283.0564,B05,I
33628,-8 days,85f4288d-a56,18c91b3d-2be,27a5b02b-daf,2019-07-16,2019-07-24,5283.0564,B05,I
12067,-9 days,85f4288d-a56,3eb056a0-8d9,e1034c9c-ad0,2019-08-15,2019-08-24,5283.0564,B05,I
6325,-1 days,85f4288d-a56,af8baea5-d85,08694c43-bfe,2019-09-23,2019-09-24,5283.0564,B05,I
12157,250 days,85f4288d-a56,cc7fcf78-09e,32859bfe-199,2019-10-01,2019-01-24,5283.0564,B05,I
22325,-7 days,85f4288d-a56,ce0c7d2c-56b,f2b0f6ec-654,2019-10-17,2019-10-24,5283.0564,B05,I
33107,-13 days,85f4288d-a56,643aa223-8a6,37a3b730-177,2019-11-11,2019-11-24,5283.0564,B05,I

In [357]:
#cpf: 01367130760
c = c[c['id_opr_cad_pos'] == '85f4288d-a56']
c

,nulo,id_opr_cad_pos,id_mvt_cad_pos,dat_vct,qtd_pcl_vnc,qtd_pcl_pgr,vlr_tot_fat_tfm,vlr_min_fat_tfm,vlr_pcl_tfm,tip_mvt,prd
3105,NaN,85f4288d-a56,025a2bc9-7b6,24042019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
4840,NaN,85f4288d-a56,13a67254-c86,24062019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
9395,NaN,85f4288d-a56,cb511b55-7ca,24122019,46,46,NaN,NaN,5283.0564,FUT,M
14352,NaN,85f4288d-a56,18c91b3d-2be,24072019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
17135,NaN,85f4288d-a56,75f2a829-29b,24022019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
19014,NaN,85f4288d-a56,643aa223-8a6,24112019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
23627,NaN,85f4288d-a56,3eb056a0-8d9,24082019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
28025,NaN,85f4288d-a56,cc7fcf78-09e,24012019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
36160,NaN,85f4288d-a56,ce0c7d2c-56b,24102019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
38930,NaN,85f4288d-a56,3b22a60d-7c5,24052019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
39888,NaN,85f4288d-a56,4edc92a6-ab0,24032019,NaN,NaN,NaN,NaN,5283.0564,ANT,M
41587,NaN,85f4288d-a56,a3b58e81-e84,24112018,NaN,NaN,NaN,NaN,5283.0564,ANT,M
43408,NaN,85f4288d-a56,98c6a2a4-51d,24122018,NaN,NaN,NaN,NaN,5283.0564,ANT,M
53246,NaN,85f4288d-a56,af8baea5-d85,24092019,NaN,NaN,NaN,NaN,5283.0564,ANT,M